body{
  font: 14px Arial,sans-serif;
  min-width: 640px;
  margin: 0;
  color: #000000;
  background: #fff;
}
*{
  outline: none;
}
a{
  color: #0071c0;
}
a:hover{
  text-decoration: none;
}
form,
fieldset{
  margin: 0;
  padding: 0;
  border-style: none;
}
.payment-page{
  overflow: hidden;
  width: 100%;
  margin: 0 0 50px;
  padding: 34px 0 41px;
  background: url(../img/bottom-shadow.png) no-repeat 50% 100%;
}
.payment-page .payment-center{
  position: relative;
  width: 485px;
  height: 685px;
  margin: 0 auto;
  padding: 155px 113px 37px 114px;
  border-bottom: 2px solid #c5c5c5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #f6f6f6 url(../img/bg-center.png) repeat-x 0 100%;
}
.payment-page .logo{
  position: absolute;
  top: 52px;
  right: 150px;
  overflow: hidden;
  width: 144px;
  height: 43px;
  text-indent: -9999px;
  background: url(../img/logo-small.png) no-repeat;
}
.payment-page .price-wrap{
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  margin: 0 0 43px;
}
.payment-page .price-wrap .row{
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  width: 100%;
  margin: 0 0 4px;
  padding: 4px 0 0;
  background: url(../img/dot01.png) repeat-x 0 83%;
}
.payment-page .user-logo{
  position: absolute;
  top: 23px;
  left: 144px;
  width: 294px;
  height: 103px;
}
.payment-page .price-wrap .price{
  float: right;
  background: #f6f6f6;
}

.payment-page .price-wrap .name{
  overflow: hidden;
}

.payment-page .price-wrap .name strong,
.payment-page .price-wrap .name span{
  float: left;
  background: #f6f6f6;
}

.payment-page .price-wrap p{
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.load-wrapper{
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  display: none;
}

.load-wrapper .bg{
  position: absolute;
  z-index: 120;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  opacity: 0.6;
  background: #fff;

  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
}

.load-wrapper .clock{
  position: absolute;
  z-index: 140;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 224px;
  background: url(../img/clock.png) no-repeat;
}

.load-wrapper .clock .hour{
  position: absolute;
  top: 68px;
  left: 88px;
  width: 48px;
  height: 48px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-animation: hourRotate 30s infinite linear;
  -moz-animation: hourRotate 30s infinite linear;
  -ms-animation: hourRotate 30s infinite linear;
  background: url(../img/bg-hour.png) no-repeat 3px 3px;
}

.load-wrapper .clock .minute{
  position: absolute;
  top: 49px;
  left: 70px;
  width: 84px;
  height: 84px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-animation: minuteRotate 2s infinite linear;
  -moz-animation: minuteRotate 2s infinite linear;
  -ms-animation: minuteRotate 2s infinite linear;
  background: url(../img/bg-minute.png) no-repeat 50% 3px;
}

.congratulations-wrap{
  margin: -11px 0 0;
  text-align: center;
}

.congratulations-wrap h2{
  font: bold 24px/32px Arial, Verdana, Helvetica, sans-serif;
  margin: 0;
  color: #268600;
}

.congratulations-wrap h3{
  font: 24px/32px Arial, Verdana, Helvetica, sans-serif;
  margin: 0 0 7px;
  color: #000;
}

.back-btn{
  font-size: 16px;
  line-height: 20px;
  position: relative;
  z-index: 40;
  display: block;
  width: 230px;
  height: 20px;
  margin: 0 auto;
  padding: 20px 0 30px 6px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: url(../img/bg-btn02.png) no-repeat;
  text-shadow: 0 -1px 0 #b1251b;
}

.back-btn:hover{
  background-position: 0 -127px;
}

.check-wrapper{
  position: relative;
  width: 504px;
  margin: 10px 0 92px -10px;
}

.check-wrapper .hole{
  position: absolute;
  top: -3px;
  left: -13px;
  width: 530px;
  height: 16px;
  background: url(../img/hole-bg.png) no-repeat;
}

.check-wrapper .hole-shadow{
  position: absolute;
  z-index: 9999;
  display: block;
  width: 504px;
  height: 18px;
  background-image: url("../img/hole-shadow.png");
}

.check-wrapper .check-holder{
  position: relative;
  height: 10px;
}

.check-wrapper .check-holder .shadow{
  position: relative;
  bottom: 556px;
  left: -43px;
  width: 586px;
  display: block;
  height: 656px;
  z-index: 3;
  background: url(../img/shadow01.png) no-repeat;
}

.check-wrapper .check-holder .check{
  width: 464px;
  padding: 34px 20px 31px;
  background: #fff;
  position: relative;
  z-index: 50;
}
.check-wrapper .check-holder .check:after{
  position: relative;
  bottom: -35px;
  left: -20px;
  display: block;
  width: 504px;
  height: 4px;
  content: '';
  background: url(../img/bg-check.png) no-repeat;
}
.check .price-wrap{
  margin: 0;
}
.check .price-wrap .name{
  float: left;
}
.check .price-wrap .price{
  float: none;
  overflow: hidden;
  text-align: right;
  background: none;
}
.check .price-wrap .price strong,
.check .price-wrap .price span,
.check .price-wrap .name strong,
.check .price-wrap .name span{
  background: #fff;
}
.check .name-title{
  font-size: 16px;
  margin: 0;
  text-align: center;
}
.check .date{
  font-size: 14px;
  margin: 0;
  text-align: center;
}
.check .border{
  width: 465px;
  height: 5px;
  margin: 22px auto;
  background: url(../img/bg-star.png) no-repeat;
}
.check .title{
  font-size: 16px;
  line-height: 20px;
  margin: 25px 0 6px;
  text-align: center;
}
.check .thankyou{
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}
.check .price-wrap p{
  font-size: 16px;
  line-height: 20px;
  margin: 14px 0 29px;
  word-break: break-all;
}
.mail-form{
  margin: 0 0 36px;
}
.link-row{
  margin: 9px -30px 19px;
  text-align: center;
}
.mail-form .pdf{
  font-size: 14px;
  line-height: 22px;
  position: relative;
  margin: 0 10px 0 40px;
  color: #0071c0;
}
.mail-form .pdf{
  margin-left: 35px;
}
.mail-form .link-row a{
  text-decoration: none;
  border-bottom: 1px dotted;
}
.mail-form .pdf:after{
  position: absolute;
  top: 0;
  left: -22px;
  width: 17px;
  height: 17px;
  content: '';
  background: url(../img/ico02.png) no-repeat;
}
.mail-form .pdf:after{
  left: -17px;
  background: url(../img/ico04.png) no-repeat;
}

