/* CARCASS: Start */

.form-group {
	margin-bottom: 20px;
}


@media only screen and (max-width: 767px) {
	.container {
		width: 750px;
	}
}

@media screen and (max-width: 991px) {
	.left-col {
		display: none;
	}
	.left-col, .right-col {
		float: none;
		width: 100% !important;
	}
	.container {
		width: 100% !important;
	}
}

@media screen and (max-width: 1259px) {
	.left-col {
		width: 31%;
	}
	.right-col {
		width: 69%;
	}
	.container {
		width: 970px;
	}
}

.left-col {
	height: 1000px;
	width: 24.2%;
	position: relative;
	float: left;
	padding: 0 15px;
	min-height: 1px;
	/*background-color: #ddd;*/
}

.left-col .side-menu {
    padding:34px 10px 10px;
    background-color: #ddd;
}

.right-col {
	width: 75.8%;
	position: relative;
	float: left;
	padding: 0 15px;
	min-height: 1px;
}

/* CARCASS: End */
.problem-areas h1 {
	font-weight: normal;
	text-align: center;
	white-space: wrap;
	font-size: 50px;
	line-height: 1;
	margin-bottom: 25px;
}

.kosmo-info-block {
	color: #000;
	font-size: 20px;
	line-height: 21px;
	border: 2px solid #00b4ff;
	padding: 8px 33px;
}

.kosmo-info-block ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.kosmo-info-block ul li span {
	color: #00b4ff;
}

.wooman-areas-container {
	margin: 50px 0;
}

.wooman-areas-container svg {
	position: relative;
	top: 8px;
	right: -33px;
}

.wooman-areas-container .p-area-hover path {
	position: relative;
	z-index: 0;
	pointer-events: none;
}

.wooman-areas-container svg .p-area {
	cursor: pointer;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
	position: relative;
	z-index: 10;
	position: relative;
	fill: transparent;
	stroke: #E2D6D0;
	stroke-width: 2.2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.wooman-areas-container svg .p-area:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-color: #fa0;
}

.p-area-hover {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0;
}

.p-area-hover.visible {
	opacity: 1;
}

.p-area-hover path {
	fill: none;
	stroke: #E2D6D0;
	stroke-width: 1.2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.wooman-areas {
	float: left;
	width: 315px;
	height: 915px;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.wooman-areas svg {
	width: 100%;
	height: 100%;
}

.areas-block {
	display: none;
	float: right;
	max-width: 385px;
	min-height: 385px;
	font-size: 17px;
	line-height: 25px;
	margin-left: 42px;
	padding: 25px;
	background-color: #e1d6d0;
	position: relative;
}

.areas-block .ars-cursor {
	display: block;
	width: 100px;
	height: 100px;
	margin: 32px auto;
	-webkit-animation: cursor-anim linear 6s infinite;
	   -moz-animation: cursor-anim linear 6s infinite;
	     -o-animation: cursor-anim linear 6s infinite;
	        animation: cursor-anim linear 6s infinite;
}

.areas-block:before, .areas-block:after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
}

.areas-block:before {
	top: 10px;
	left: 10px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20"><polyline fill="none" stroke="white" stroke-width="4" points="0,20 0,0 20,0"/></svg>');
}

.areas-block:after {
	bottom: 10px;
	right: 10px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20"><polyline fill="none" stroke="white" stroke-width="4" points="0,20 20,20 20,0"/></svg>');
}

.areas-block ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 10px;
}

.areas-block ul li span {
	color: #ed4545;
	font-weight: bold;
}

.areas-block .btn-more {
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #fff;
	background-color: #ed4545;
	padding: 8px 58px;
	margin: 10px 0;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
}

.areas-block .btn-more:hover {
	background-color: #ff6c00;
}

.areas-block .btn-more:active {
	background-color: #ed4545;
}

.areas-block .ars-title {
	text-align: center;
	font-size: 30px;
	line-height: 1;
	text-transform: uppercase;
}

.areas-block .ars-btn {
	text-align: center;
	margin-top: 25px;
}

.areas-block .ars-triangle {
	display: block;
	position: absolute;
	top: 50%;
	left: -42px;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 42px solid #e1d6d0;
	border-bottom: 25px solid transparent;
}

.areas-block-start {
	display: block;
	padding-top: 98px;
}

@-webkit-keyframes cursor-anim {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	5% {
		-webkit-transform: scale(0.85);
		        transform: scale(0.85);
	}
	10% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	15% {
		-webkit-transform: scale(0.85);
		        transform: scale(0.85);
	}
	20% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@-moz-keyframes cursor-anim {
	0% {
		-moz-transform: scale(1);
		     transform: scale(1);
	}
	5% {
		-moz-transform: scale(0.85);
		     transform: scale(0.85);
	}
	10% {
		-moz-transform: scale(1);
		     transform: scale(1);
	}
	15% {
		-moz-transform: scale(0.85);
		     transform: scale(0.85);
	}
	20% {
		-moz-transform: scale(1);
		     transform: scale(1);
	}
	100% {
		-moz-transform: scale(1);
		     transform: scale(1);
	}
}

@-o-keyframes cursor-anim {
	0% {
		-o-transform: scale(1);
		   transform: scale(1);
	}
	5% {
		-o-transform: scale(0.85);
		   transform: scale(0.85);
	}
	10% {
		-o-transform: scale(1);
		   transform: scale(1);
	}
	15% {
		-o-transform: scale(0.85);
		   transform: scale(0.85);
	}
	20% {
		-o-transform: scale(1);
		   transform: scale(1);
	}
	100% {
		-o-transform: scale(1);
		   transform: scale(1);
	}
}

@keyframes cursor-anim {
	0% {
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
	}
	5% {
		-webkit-transform: scale(0.85);
		   -moz-transform: scale(0.85);
		     -o-transform: scale(0.85);
		        transform: scale(0.85);
	}
	10% {
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
	}
	15% {
		-webkit-transform: scale(0.85);
		   -moz-transform: scale(0.85);
		     -o-transform: scale(0.85);
		        transform: scale(0.85);
	}
	20% {
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
	}
	100% {
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
	}
}

@media screen and (max-width: 1259px) {
	.areas-block {
		float: none;
		margin: 0 auto 42px auto;
	}
	.areas-block .ars-triangle {
		display: block;
		position: absolute;
		top: auto;
		bottom: -67px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-top: 42px solid #e1d6d0;
	}
	.wooman-areas {
		float: none;
		margin: 0 auto;
	}
}

@media screen and (max-width: 479px) {
	.problem-areas h1 {
		font-size: 35px;
	}
}
