/*==========  DESKTOP FIRST METHOD  ==========*/
/*========== Large Devices, Wide Screens ==========*/
@media only screen and (max-width: 1199px) {
	/* HEADER: Start */
	.hl-item {
		font-size: 14px;
	}
	.hl-item a {
		font-size: 15px;
	}
	.hl-site-descr p {
		line-height: 1;
	}
	.hl-logo {
		width: 19%;
	}
	.hl-site-descr {
		width: 18%;
	}
	.hl-cta {
		width: 23%;
	}
	.hl-cta .btn {
		padding: 1em .85em;
	}
	/* HEADER: End */
	.ms-photo {
		margin-top: 100px;
	}
	.prob-item-first:after, .prob-item-second:after, .res-item-first:after, .res-item-second:after {
		width: 207px;
	}
	.sct-solutions {
		margin-top: 30px;
	}
	.res-item-first .pif-title, .res-item-second .pif-title, .prob-item-first .pif-title, .prob-item-second .pif-title {
		font-size: 18px;
		top: 36px;
	}
	.res-item-first .pif-title, .res-item-second .pif-title {
		right: 138px;
	}
	.prob-item-first .pif-title, .prob-item-second .pif-title {
		left: 138px;
	}
	.line-to-top {
		display: none;
	}
	.order-icon {
		display: none;
	}
	.order-descr {
		margin-bottom: 30px;
	}
	.program-wrap {
		border: none;
	}
	.ftr-phone {
		width: 25%;
	}
	.ftr-consult {
		width: 29%;
	}
}

/*========== Medium Devices, Desktops ==========*/
@media only screen and (max-width: 991px) {
	/* HEADER: Start */
	.hl-site-descr {
		display: none;
	}
	.hl-logo, .hl-phones {
		width: 22%;
	}
	.hl-cta {
		width: 31%;
	}
	/* HEADER: End */
	h1, .cst-title-1 {
		font-size: 36px;
	}
	h2, .cst-title-2 {
		font-size: 30px;
	}
	h3, .cst-title-3 {
		font-size: 22px;
	}
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="number"],
	input[type="password"], select, textarea {
		font-size: 18px;
		padding: 10px 17px;
	}
	.btn {
		font-size: 20px;
		line-height: 1.2;
		padding: .85em 1.5em;
	}
	.btn.btn-lg {
		font-size: 20px;
	}
	.btn.btn-md {
		font-size: 18px;
	}
	.btn.btn-sm {
		font-size: 14px;
	}
	.btn.btn-xs {
		font-size: 12px;
	}
	.ms-photo {
		margin-top: 0px;
	}
	.main-screen-form {
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
		        border-radius: 0;
		width: 100%;
		height: auto;
		padding: 30px 58px;
		position: relative;
	}
	.main-screen-form:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -1500px;
		width: 1500px;
		background-color: #e1d6d0;
	}
	.main-screen-form:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -1500px;
		width: 1500px;
		background-color: #e1d6d0;
	}
	.prob-item-first, .prob-item-second, .res-item-first, .res-item-second {
		position: static;
		width: 50%;
		float: left;
	}
	.prob-item-first:after, .prob-item-second:after, .res-item-first:after, .res-item-second:after {
		display: none;
	}
	.prob-item-first .pif-icon, .prob-item-second .pif-icon, .res-item-first .pif-icon, .res-item-second .pif-icon {
		margin: 0 auto;
		float: none;
	}
	.prob-item-first .pif-title, .prob-item-second .pif-title, .res-item-first .pif-title, .res-item-second .pif-title {
		font-size: 22px;
		position: static;
		text-align: center;
		white-space: pre-wrap;
		line-height: 1;
		margin: 20px 0;
	}
	.sct-solutions {
		padding: 130px 0;
	}
	.slc-row {
		margin: 100px 0;
	}
	.crsd-icon {
		display: none;
	}
	.crii-icon, .cors-info-item:before, .cors-info-item:after {
		display: none;
	}
	.cors-info-item {
		margin-bottom: 40px;
	}
	.order-descr {
		font-size: 22px;
	}
	.sct-certificates {
		padding: 75px 0 30px 0;
	}
	.spc-img {
		margin: 0 auto;
	}
	.spec-item {
		text-align: center;
	}
	.ftr-logo {
		width: 20%;
	}
	.ftr-phone {
		text-align: center;
	}
	.ftr-phone a {
		font-size: 16px;
	}
	.ftr-copyright {
		line-height: 1.2;
		margin: 10px 0;
	}
	ul.sub-menu > li > a {
		font-size: 13px;
	}
	.solutions-header {
		display: none;
	}
	.slc-row {
		margin-top: 0;
	}
	.slc-row .slt-header {
		display: block;
		position: absolute;
		top: 25px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
		white-space: nowrap;
	}
	.prob-gitem-wrap,
	.res-gitem-wrap,
	.slts-gitem-wrap {
		display: block;
		padding-top: 100px;
		position: relative;
	}
	.cta-btn-wrap {
		margin-bottom: 50px;
	}
	.crst-content p {
		font-size: 20px;
	}
}

/*========== Small Devices, Tablets ==========*/
@media only screen and (max-width: 767px) {
	/* HEADER: Start */
	.header-line {
		display: block;
		padding: 12px 0;
	}
	.hl-item {
		text-align: center;
		display: block;
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}
	.hl-menu-btn {
		position: absolute;
		top: 30px;
		left: 24px;
	}
	/* HEADER: End */
	.sct-time-quality {
		min-height: auto;
		padding: 60px 0;
	}
	.timeq-container {
		position: relative;
		width: 300px;
		height: 300px;
		font-size: 21px;
		line-height: 1.2;
		text-transform: uppercase;
		-webkit-border-radius: 50%;
		   -moz-border-radius: 50%;
		        border-radius: 50%;
		padding: 125px 40px 50px 55px;
		margin: 0 auto;
	}
	.timeq-header {
		top: 25px;
		left: 25px;
		width: 300px;
		height: 80px;
		font-size: 18px;
		padding: 18px 15px 18px 40px;
	}
	.tq-icon {
		top: 5px;
		left: -32px;
		width: 105px;
		height: 105px;
	}
	.tq-icon svg {
		width: 65px;
		height: 65px;
	}
	.tq-icon:before {
		width: 25px;
		height: 5px;
		top: 26px;
		left: 19px;
	}
	.tq-icon:after {
		width: 5px;
		height: 25px;
		top: 16px;
		left: 29px;
	}
	.program-descr {
		font-size: 22px;
		padding: 0 20px 45px 20px;
	}
	.program-descr p span {
		font-size: 30px;
	}
	.program-header {
		padding: 0 20px;
	}
	.prg-item {
		margin: 0 25% 75px 25%;
	}
	.owl-carousel {
		padding-top: 25px;
		margin: 30px 0;
	}
	.owl-dots {
		position: static;
		margin: 25px 0 0 0;
	}
	.sct-specialists {
		padding-top: 60px;
	}
	.contacts-block {
		width: 100%;
		position: static;
		margin: 0 auto;
		padding: 50px 12px;
	}
	.sct-consult {
		padding: 60px 0;
	}
	.ftr-item {
		float: none;
		width: 100%;
		text-align: center;
	}
	.ftr-logo {
		margin-left: 32px;
	}
	.sct-footer {
		padding-top: 15px;
	}
	.corset-bf-af-container {
		padding: 0;
	}
	.crst-before-content,
	.crst-after-content {
		text-align: center;
		width: 300px;
		height: 300px;
		margin: 0 auto;
		background-position: center;
	}
	.crsth-before, .crsth-after {
		font-size: 16px;
		float: none;
	}
	.crst-content {
		margin: 20px 0;
	}
}

/*========== Extra Small Devices, Phones ==========*/
@media only screen and (max-width: 479px) {
	.main-screen-form {
		padding: 30px 20px;
	}
	.program-descr {
		padding: 0 25px 20px 25px;
	}
	.prg-item {
		margin: 0 10% 75px 10%;
	}
	.spc-img {
		-webkit-transform: scale(0.85);
		   -moz-transform: scale(0.85);
		    -ms-transform: scale(0.85);
		     -o-transform: scale(0.85);
		        transform: scale(0.85);
	}
}

/*========== Custom, iPhone Retina ==========*/
