.restorante_body_class a:hover {
	text-decoration: none;
	color: red;
}

.restorante_header_flex, .restorante_footer_flex{
  display: flex;
}

.restorante_body_class section {
	padding: 30px 0;
}

.restorante_header {
	background-color: white;
}

.restorante_header_flex > div {
	width: 25%;
}

.restorante_footer_flex > div {
	width: 25%;
}

.restorante_header_flex {
	align-items: center;
	padding: 15px 0;
}

.restorante_footer_flex {
	align-items: center;
	padding: 15px 0;
}

.restorante_header_logo img {
	width: 100%;
}

.restorante_footer_logo img {
	width: 100%;
}

.restorante_email {
	text-decoration: underline;
}

.restorante_header_text_after_logo a {
	color:  #2f2f2f;
	font-size: 20px;
	text-transform: uppercase;
}

.restorante_footer_text_after_logo a {
	color:  #ffffff;
	font-size: 20px;
	text-transform: uppercase;
}

.restorante_phone, .restorante_email  {
	display: block;
	color:  #2f2f2f;
	font-size: 22px;
}

.restorante_phone_footer, .restorante_email_footer  {
	display: block;
	color:  #ffffff;
	font-size: 22px;
}

.restorante_white_button {
	border: 1px solid red;
	display: inline-block;
	border-radius: 1px;
	text-transform: uppercase;
	color: red;
	background-color: transparent;
	padding: 10px 50px;	
}

.restorante_white_button:hover {
	background-color: red;
	color: white;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.restorante_red_button {
	border: 1px solid red;
	display: inline-block;
	border-radius: 1px;
	text-transform: uppercase;
	color: white;
	background-color: red;
	padding: 10px 50px;	
}

.restorante_red_button:hover {
	background-color: white;
	color: red;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.restorante_slider {
	padding: 15px 0;
	position: relative;
	overflow: hidden;
}

.restorante_slider img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.restorante_slider h1 {
	text-transform: uppercase;
	color: white;
	font-size: 60px;	
	font-family: 'PT Sans', sans-serif;
	font-weight: 100;
	position: relative;
	z-index: 5;
	margin: 50px 0;
}

.restorante_slider h1 span {
	display: inline-block;
	background-color: rgba(98, 69, 54, 0.71);
	padding: 10px;
}

.restorante_first_infoblock {
	background-color: #FCFCFC;
}

.restorante_first_infoblock h2 {
	color: #2f2f2f;
	font-size: 55px;
	position: relative;
	padding-top: 15px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 100;
}

.restorante_first_infoblock h2 img {
	position: absolute;
	top: 0;
	left: -150px;
	height: 100%;
}

.restorante_first_infoblock_item {
	position: relative;
	margin-top: 100px;
}

.restorante_first_infoblock_item img {
	width: 100%;
}

.restorante_first_infoblock_item p {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 70%;
	z-index: 15;
	text-align: center;
}

.first_infoblock_item_flex {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.first_infoblock_item_header {
	width: 100px;
	height: 100px;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #f5f2e2;
	border-radius: 50%;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -50px;
}

.first_infoblock_item_header img {
	width: 50px;
	height: 40px;
	margin-top: -30px;
}

.restorante_second_infoblock {
	position: relative;
	overflow: hidden;
	background-color: #FCFCFC;
	position: relative;
	z-index: 30;
}

.restorante_second_infoblock img {
	width: 100%;
	position: relative;
}

.restorante_second_infoblock_flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.restorante_second_infoblock_cont {
	position: absolute;
	top: 0;
	height: 100%;
	z-index: 15;
	left: 0;
	right: 0;
	margin: auto;
}

.restorante_second_infoblock_item {
	width: 25%;
	border-left: solid 2px rgba(255, 255, 255, 0.34);
}

.restorante_second_infoblock_flex div:last-child {
	border-right: solid 2px rgba(255, 255, 255, 0.34);
}

.restorante_second_infoblock_item h3 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 100;
	font-size: 70px;
	margin-top: 0;
	margin-bottom: 30px;
	color: white;
	text-align: center;
}

.restorante_second_infoblock_item p {
	text-align: center;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 100;
}

.restorante_third_infoblock {
	overflow: hidden;
	position: relative;
	background-color: #FCFCFC;
	position: relative;
	z-index: 20;
}

.restorante_third_infoblock .container {
	z-index: 10;
	position: relative;
}

.restorante_third_infoblock img {
	width: 100%;
	position: absolute;
	z-index: 5;
}

.restorante_weddings {
	position: relative;
	background-color: #FCFCFC;
}

.restorante_weddings h2 {
	color:  #2f2f2f;
	font-size: 55px;
	font-weight: 100;
	font-family: 'PT Sans', sans-serif;
	display: block;
	text-align: center;
	margin-bottom: 90px;
	margin-top: 60px;
}

.restorante_weddings_item {
	padding-left: 5px;
	padding-right: 5px;
}

.restorante_weddings_item_img img {
	width: 100%;
}

.restorante_weddings_item .restorante_weedings_date {
	color:  #2f2f2f;
	font-size: 16px;
	padding: 3px;
	background-color: #F2F0E0;
	display: inline-block;
	margin: 15px 0;
}

.restorante_weddings_item .restorante_weedings_short_desc {
	display: block;
	color:  #2f2f2f;
	font-size: 16px;
	margin: 0 0 15px 0;
}

.restorante_guest_reviews {
	position: relative;
	background: url('/static/img/restorante_guest_reviews_back.png');
	background-size: cover;
	background-color: #33535B;
}

.restorante_guest_reviews h2 {
	color: white;
	font-size: 55px;
    font-weight: 100;
    font-family: 'PT Sans', sans-serif;
    display: block;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 90px;
}

.restorante_guest_reviews_slider_item {
	padding: 25px 35px 25px 115px;
	position: relative;
	margin-right: 85px;
}

.restorante_guest_reviews_slider_item_border .restorante_guest_reviews_slider_item_border_img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.restorante_guest_reviews_slider_item .restorante_guest_reviews_slider_item_review {
	color:  #ffffff;
	font-size: 18px;
	margin-bottom: 20px;
	position: relative;
	z-index: 15;
}

.restorante_guest_reviews_slider_item .restorante_guest_reviews_slider_item_name,
.restorante_guest_reviews_slider_item .restorante_guest_reviews_slider_item_status {
	color:  #ffffff;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 5px;
	position: relative;
	z-index: 15;
}

.restorante_guest_reviews_slider_item_border .restorante_guest_reviews_slider_item_photo {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 1px solid white;
	position: absolute;
	left: -65px;
	margin-top: -65px;
	top: 50%;
	overflow: hidden;
	z-index: 15;
}

.restorante_guest_reviews_slider_item_photo img {
	width: 100%;
}

.restorante_guest_reviews .slick-slider {
	max-width: 2025px;
	margin: auto;
	margin-bottom: 30px;
}

.restorante_guest_reviews .slick-list {
	padding-left: 175px; 
	padding-right: 115px;
}
/*
.restorante_guest_reviews_slider {
	margin-bottom: 70px;
}*/

.restorante_guest_reviews_buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 95px;
}

/*.restorante_guest_reviews_left {
	justify-content: flex-end;
}

.restorante_guest_reviews_righ {
	justify-content: flex-start;
}*/

.restorante_guest_reviews_slider_left, .restorante_guest_reviews_slider_right {
    width: 48px;
    height: 48px;
    border: 2px solid #0095a6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #0095a6;
    cursor: pointer;
}

.restorante_guest_reviews_slider_left:hover, .restorante_guest_reviews_slider_right:hover {
	background-color: #0095a6;
	color: #33535B;
}

.restorante_guest_reviews_slider_right {
	margin-left: 15px;
}

.restorante_guest_reviews_slider_left {
	margin-right: 15px;
}

.restorante_stocks {
	background-color:  #F5F3E3;
	background: url('/static/img/restorante_stocks_back.png');
	background-size: cover;
	background-position-y: -220px;
}

.restorante_stocks h2 {
	color:  #2f2f2f;
	font-size: 55px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 100;
	display: block;
	text-align: center;
	margin-bottom: 80px;
	margin-top: 0;
}

.restorante_stocks_slider_item {
	position: relative;
}


.restorante_stocks_slider_item a {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	background: url('/static/img/restorante_stocks_slider_item_desc_back.png');
	background-size: 100% 100%;
}

.restorante_stocks_slider_item_check {
	width: 100%;
	height: 100%;
}

/*.restorante_stocks_slider_item img {
	position: absolute;
	left: -280px;
	top: 0;
	height: 100%;
}*/

.restorante_stocks_slider_item img {
	display: inline-block;
}

.restorante_stocks_slider_item_photo img {
	width: 100%;
}

.restorante_stocks_slider_item_desc {	
	padding-left: 50px;
	padding-right: 50px;
	display: inline-block;
}

.restorante_stocks_slider_item_desc_date {
	color:  #2f2f2f;
	font-size: 21px;
	display: inline-block;
	background-color: #f5f2e2;
	padding: 3px;
	margin-bottom: 30px;
}

.restorante_stocks_slider_item_desc_title {
	color:  #2f2f2f;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.restorante_stocks_slider_item_desc_short {
	color:  #2f2f2f;
	font-size: 17px;
	margin-bottom: 25px;
}

.restorante_white_button.restorante_stocks {
	border-color: #ff0000;
	color: #ff0000;
}

.restorante_wedding_celebrate {
	background-color:  #e1ddc7;
}

.restorante_wedding_celebrate h2 {
	margin-top: 90px;
	margin-bottom: 120px;
	color:  #2f2f2f;
	font-size: 55px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 100;
	display: block;
	text-align: center;
}

.restorante_wedding_celebrate_item {
	position: relative;
	width: 30%;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 250px;
}

.restorante_wedding_celebrate_item img {
	width: 100%;
}

.restorante_wedding_celebrate_item_inner {
	background-color: white;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 90%;
	bottom: -50%;
	text-align: left;
}

.restorante_wedding_celebrate_item_inner_title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.restorante_wedding_celebrate_item_inner_title p {
	color:  #ffffff;
	font-size: 12px;
	display: inline-block;
	padding: 5px;
	margin-right: 15px;
	background-color: red;
	text-transform: uppercase;
	text-align: center;
}

.restorante_wedding_celebrate_item_inner_title p span {
	font-size: 28px;
	display: block;
}

.restorante_wedding_celebrate_item_inner_title h3 {
	color:  #2f2f2f;
	font-size: 22px;
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
}

.restorante_wedding_celebrate_item_inner_desc {
	padding: 0 30px;
	margin-bottom: 20px;
	color:  #2f2f2f;
	font-size: 17px;
}

.restorante_wedding_celebrate_item_inner .restorante_white_button {
	margin-left: 30px;
	margin-bottom: 20px;
}

.restorante_wedding_celebrate_item_inner .restorante_white_button:hover {
	color: white;
}

.restorante_wedding_celebrate {
	text-align: center;
}

.restorante_honeymoon {
	background-color: #E1DDC7;
	overflow: hidden;
	position: relative;
}

.restorante_honeymoon > img {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.restorante_honeymoon h2 {
	color: white;
	display: inline-block;
	background-color: #f40855;
	border: 5px white solid;
	padding: 35px;
	text-transform: none;
    font-size: 35px;
	font-family: Apple_juice;
	font-weight: 100;
}

.restorante_honeymoon h2 span {
	font-size: 46px;
}

.restorante_honeymoon button {
	color:  #ffffff;
	font-size: 18px;
	font-weight: 100;
	padding: 10px 25px;
	text-transform: uppercase;
	border:none;
	background-color:  #0083ca;
	position: absolute;
	left: 55px;
	bottom: 0;
}

.restorante_honeymoon button:hover {
	background-color: #024270;
}

.restorante_honeymoon_item {
	position: relative;
}

.restorante_body_class footer {
	background-color: #37555d;
	padding-top: 30px;
	padding-bottom: 30px;
}

.restorante_footer_privacy p, .restorante_footer_privacy a {
	color:  rgba(255,255,255, 0.7);
	font-size: 12px;
	display: block;
}

.restorante_footer_privacy a {
	border-bottom: 1px dotted rgba(255,255,255, 0.7);
	display: inline-block;
}

.restorante_footer_privacy a:hover {
	border-bottom-color: red;
}

.restorante_footer_socials a {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	border-radius: 50%;
	background-color:  #4d7a86;
	color: #37555d;
	font-size: 20px;
	padding-top: 9px;
}

.restorante_footer_socials a:hover {
	color: #37555d;
	background-color:  #ffffff;
}