@import 'fonts.css';

html, body {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
p {
  margin-bottom: 0;
}
a:focus,
button:focus,
input:focus {
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
}
.wrapper {
  display: table;
  width: 100%;
  height: 100vh;
  table-layout: fixed;
}
.content-inner {
  display: table-row;
  height: 100%;
}
.et-menu {
  position: relative;
  padding-top: 13px;
  padding-bottom: 6px;
  border-top: 1px solid #0167a5;
  border-bottom: 1px solid #0167a5;
  z-index: 401;
}
.et-menu ul {
  margin: 0;
  list-style: none;
}
.et-menu > ul {
  padding: 0;
}
.et-menu > ul > li {
  float: left;
  position: relative;
  text-align: left;
  line-height: 1.2;
  font-size: 14px;
  letter-spacing: .07em;
  border-right: 1px solid #0167a5;
}
.et-menu > ul > li:last-child {
  border-right: none;
}
.et-menu a,
.et-menu a:hover,
.et-menu a:focus {
  text-decoration: none;
  transition: .2s;
}
.et-menu > ul > li > a {
  display: block;
  padding: 14px 25px;
  color: #fff;
  text-transform: uppercase;
}
.et-dropdown-menu {
  display: none;
  position: absolute;
  min-width: 178px;
  z-index: 1;
  padding: 16px 0;
  background-color: #0374b9;
}
.et-dropdown-menu:before {
  content: '';
  display: block;
  height: 23px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 100%;
}
.et-dropdown-menu:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  left: 20px;
  width: 0;
  height: 0;
  border-bottom: 9px solid #0374b9;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.et-menu .et-dropdown-menu {
  margin-top: 23px;
}
.et-menu > ul > .et-open .et-dropdown-menu {
  display: block;
}
.et-dropdown-menu li {
  display: block;
}
.et-dropdown-menu a {
  display: block;
  padding: 5px 22px;
  color: #fff;
  font-size: 13px;
}
html:not(.touchevents) .et-dropdown-menu li a:hover {
  background-color: #0167a5;
}
.et-caret-wrapper {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 0;
  width: 20px;
  height: 30px;
  background-color: rgba(218, 218, 218, 0.5);
  border-radius: 2px;
}
.et-caret-wrapper .et-caret {
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-top: 12px solid #E6E6E6;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.et-menu-header {
  display: none;
}
@media screen and (min-width: 768px) {
  html:not(.touchevents) .et-menu > ul > .et-dropdown:hover .et-dropdown-menu {
    display: block;
  }
  html:not(.touchevents) header .et-menu > ul > li:hover > a,
  header .et-menu > ul > .et-open > a,
  header .et-menu > ul > .selected > a {
    background-color: #00b4ff;
  }
  header .et-menu a[href="/bronirovanie.html"] {
    /*background-color: rgb(51, 175, 152);*/
    border: 2px solid;
  }
}
@media screen and (max-width: 767px) {
  .et-menu {
    margin: 0 -15px;
  }
  .et-menu > ul > li {
    display: block;
    float: none;
    text-align: center;
  }
  .et-menu > ul > li > a {
    padding: 12px 35px;
  }
  .et-dropdown-menu {
    position: static;
    text-align: left;
  }
  .menu-collapsed {
    display: none;
  }
  .et-caret-wrapper {
    display: block;
    top: 20px;
    right: 10px;
  }
  .et-menu-header {
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    text-align: right;
  }
  .et-menu > ul {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
  }
  .et-menu-collapse-btn {
    display: inline-block;
    cursor: pointer;
  }
  .et-menu-collapse-btn .et-collapse-line {
    position: relative;
    width: 35px;
    height: 4px;
    margin: 5px 0;
    background-color: #fff;
    transition: .3s;
  }
  .et-menu-collapse-btn:not(.et-collapsed) .et-collapse-line:nth-child(2) {
    opacity: 0;
  }
  .et-menu-collapse-btn .et-collapse-line:first-child {
    top: 0;
  }
  .et-menu-collapse-btn .et-collapse-line:last-child {
    bottom: 0;
  }
  .et-menu-collapse-btn:not(.et-collapsed) .et-collapse-line:first-child {
    transform: rotate(-45deg);
    top: 9px;
  }
  .et-menu-collapse-btn:not(.et-collapsed) .et-collapse-line:last-child {
    transform: rotate(45deg);
    bottom: 9px;
  }
}
header {
  background: #0374b9;
}
.basic-button button,
.basic-button a,
.share .basic-button span,
.procedures-page .basic-button span {
  display: inline-block;
  position: relative;
  max-width: 100%;
  padding: 5px 25px;
  border: none;
  border-radius: 0;
  background-color: #ed4545;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: all .2s ease-out;
}
.basic-button button:hover,
.basic-button a:hover,
.share .basic-button span:hover {
  background-color: #ff6c00;
  text-decoration: none;
}
.basic-button.blue button,
.basic-button.blue a,
.share .basic-button.blue span {
  background-color: #0374b9;
}
.basic-button.blue button:hover,
.basic-button.blue a:hover,
.share .basic-button.blue span:hover {
  background-color: #ff6c00;
}
header .header-top {
  position: relative;
  padding-bottom: 5px;
}
header .phones {
  display: inline-block;
  vertical-align: middle;
}
header .phone {
  display: inline-block;
  margin-top: 3px;
  font-size: 26px;
  color: #fff;
}
header .phone-small {
  position: relative;
  color: #fff;
  font-size: 20px;
  padding-left: 18px;
}
header .phone-small,
header .phone {
  margin-right: 12px;
}
header .phone-small:before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  background-color: #3391ca;
  left: 0;
  top: 5px;
  bottom: 5px;
}
header .phone:hover,
header .phone-small:hover {
  text-decoration: none;
}
header .booking-button {
  display: inline-block;
  margin: 9px 35px 0 22px;
  vertical-align: top;
}
header #search {
  float: right;
  position: relative;
  margin-top: 30px;
}
header #search .form-control {
  width: 234px;
  max-width: 100%;
  padding-right: 30px;
  outline: none;
  border: none;
  border-radius: 15px;
  height: 29px;
  background-color: #0167a5;
  color: #fff;
}
header #search button {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  line-height: 1;
  background-color: transparent;
  border: none;
  transition: .3s;
}
header .work-time {
  margin-top: 11px;
  color: white;
  text-align: center;
  font-size: 19px;
}
header .title-phone-time {
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
}
header .title-phone-time .work-time {
  text-align: right;
  margin-left: 30px;
  margin-right: 21px;
}
.main-page .img-logo-info {
  position: relative;
}
.main-page .img-logo-info .main-img-wrap {
  position: relative;
  min-height: 705px;
  overflow: hidden;
}
.main-page .logo img {
  display: block;
  margin: auto;
  max-width: 100%;
  margin-top: 70px;
}
.main-page .img-logo-info .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 46px;
  background-color: rgba(1, 103, 165, .9);
}
.main-page .img-logo-info .info h2 {
  margin-bottom: 52px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}
.main-page .img-logo-info .info .item-wrap {
  text-align: center;
}
.main-page .img-logo-info .info .item {
  display: inline-block;
  position: relative;
  padding-left: 65px;
  text-align: left;
}
.main-page .img-logo-info .info .item .icon {
  position: absolute;
  left: 0;
  top: 0;
}
.main-page .img-logo-info .info .item h3 {
  margin-top: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
.main-page .img-logo-info .info .item .basic-button {
  margin-top: 25px;
}
.main-page .programms {
  padding: 53px 0;
}
.programms .item {
  display: block;
  position: relative;
  padding-bottom: 127.31%;  
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
}
.programms .item .img-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: .3s;
}
.programms .item .overlay-wrap {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.programms .item .overlay {
  display: table;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(1, 103, 165, .8);
  transition: .3s;
}
.programms .item .overlay .basic-button {
  margin-bottom: 9px;
  text-align: center;
}
.programms .item .overlay .basic-button:last-child {
  margin-bottom: 0;
}
.programms .item .overlay button,
.programms .item .overlay a {
  font-size: 15px;
  width: 131px;
}
.programms .item .overlay .button-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.programms .item:hover .overlay {
  visibility: visible;
  opacity: 1;
}
.programms .item:hover .img-wrap {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}
.programms .item .title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7px;
  font-size: 21px;
  text-transform: uppercase;
  padding: 0 7px;
  color: #fff;
  background: linear-gradient(to right, #ed4545, #ed4545, #ed4545, transparent);
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition: .5s;
}
.programms .item:hover .title {
  transform: translate(-100%, 0);
  transform: translate3d(-100%, 0, 0);
}
.programms .item .title img {
  position: absolute;
  bottom: 100%;
  left: 0;
}
#smooth-background {
  width: 100%;
  height: 100% !important;
}
#smooth-background .lslide,
.main-img-wrap .lSSlideWrapper,
.main-img-wrap .lSSlideOuter  {
  width: 100%;
  height: 100%;
}
#smooth-background .lslide {
  -webkit-background-size: cover;
  background-size: cover;
}
.main-img-wrap .lSSlideOuter {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
}
.main-page .about-order {
  padding-bottom: 10px;
  background-color: #0374b9;
  color: #fff;
}
.main-page .about-order .about {
  width: 75%;
  float: left;
  padding-right: 100px;
}
.main-page .about-order .order {
  width: 25%;
  float: left;
  margin-top: 44px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  border-left: 1px solid #0167a5;
  border-right: 1px solid #0167a5;
}
.main-page .about-order .order h3 {
  position: relative;
  min-height: 53px;
  padding-left: 60px;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.333;
}
.main-page .about-order .order h3 img {
  position: absolute;
  top: -5px;
  left: 0;
}
.main-page .about-order .about h2 {
  margin-top: 35px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.33;
  letter-spacing: 0;
}
.main-page .about-order p {
  margin-bottom: 15px;
  font-size: 15px;
  color: #9ec2d8;
}
footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ededed;
}
footer .menu {
  float: right;
}
footer .info {
  font-size: 15px;
  color: #000;
}
footer .info a {
  text-decoration: underline;
}
footer .info a:hover {
  text-decoration: none;
}
footer .info .title {
  margin-bottom: 18px;
  text-transform: uppercase;
}
footer .info .phones a {
  color: inherit;
  text-decoration: none;
}
footer .info .address {
  margin-bottom: 10px;
}
footer .info .politics {
  margin-right: 20px;
}
footer .menu ul li {
  width: 33.333%;
  padding: 3px 7px;
  float: left;
  overflow: hidden;
}
footer .menu > ul > li > a {
  font-size: 14px;
  text-decoration: underline;
}
footer .menu > ul > li.selected > a {
  color: #ed4545;
}
footer .menu > ul > li > a:hover {
  text-decoration: none;
}
footer .menu .socials span {
  font-size: 13px;
  padding-right: 3px;
}
footer .menu .socials a {
  display: inline-block;
  float: none;
  margin-right: 3px;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition: .3s;
}
footer .menu .socials a:hover {
  transform: translate(0, -3px);
  transform: translate3d(0, -3px, 0);
}
footer .menu .socials a:last-child {
  margin-right: 0;
}
.fixed-menu {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 999;
  top: 0;
  background-color: rgba(1, 103, 165, .9);
}
.fixed-menu .et-menu {
  padding: 0;
}
.header-pages .logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 9px;
}
.header-pages .info-wrap,
.header-pages .et-menu {
  margin-left: 190px;
}
.header-pages .info-wrap .title {
  display: inline-block;
  padding-left: 33px;
  font-size: 16px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
}
.header-pages .info-wrap {
  padding-top: 10px;
}
.header-pages .info-wrap .phone {
  font-size: 19px;
  font-weight: bold;
  margin-top: 0;
  margin-left: 30px;
  margin-right: 21px;
  vertical-align: middle;
}
.header-pages .booking-button {
  margin: 0;
  vertical-align: middle;
}
header .buttons-wrap {
  display: inline-block;
  width: 226px;
  vertical-align: middle;
}
header .buttons-wrap .basic-button a {
  width: 226px;
}
header .buttons-wrap .basic-button:first-child a {
  margin-bottom: 5px;
}
.header-pages #search {
  margin-top: 3px;
  position: absolute;
  right: 0;
  top: 10px;
  max-width: 100%;
}
.header-pages #search.collapsed .form-control {
  width: 29px;
  padding: 0;
}
.header-pages #search .form-control {
  transition: .3s;
}
.header-pages #search.collapsed button {
  right: 5px;
}
.header-pages .et-menu > ul > li > a {
  padding: 9px 13px;
}
.et-menu > ul > li > a[href="/bronirovanie.html"] {
  padding-top: 12px;
  padding-bottom: 12px;
}
.header-pages .et-menu > ul > li > a[href="/bronirovanie.html"] {
  padding-top: 7px;
  padding-bottom: 7px;
}
.header-pages .fixed-menu .et-menu {
  margin-left: 0;
}
.breadcrumbs {
  margin-top: 12px;
  font-size: 12px;
}
.breadcrumbs a {
  text-decoration: underline;
}
.breadcrumbs span {
  color: #4f4f4f;
}
.breadcrumbs a {
  color: #0374b9;
}
.breadcrumbs a:hover {
  text-decoration: none;
}
h1, h2, h3 {
  word-wrap: break-word;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .04em;
}
h1,
.h2-to-h1 {
  margin-top: 34px;
  margin-bottom: 43px;
  font-size: 29px;
  color: inherit;
}
h2 {
  margin-bottom: 20px;
  color: #0167a5;
  font-size: 17px;
}
.programms-page .programms {
  margin-bottom: 40px;
}
.left-col,
.right-col {
  position: relative;
  float: left;
  padding: 0 15px;
  min-height: 1px;
}
.left-col {
  width: 24.2%;
}
.right-col {
  width: 75.8%;
}
.side-menu {
  margin-top: 110px;
}
.side-menu li {
  margin-bottom: 24px;
  padding-left: 25px;
}
.side-menu a {
  position: relative;
  text-transform: uppercase;
  color: #000;
  font-size: 22px;
  letter-spacing: .04em;
  word-wrap: break-word;
}
.side-menu a:hover,
.side-menu li.selected a {
  color: #0374b9;
  text-decoration: none;
}
.side-menu a:hover:before, 
.side-menu li.selected a:before {
  content: '';
  display: block;
  position: absolute;
  left: -25px;
  top: 2px;
  width: 14px;
  height: 22px;
  background: url(/static/img/selected_arrow.png) no-repeat;
}
#item-slider img {
  max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery img {
  max-width: 100%;
}
.custom-pager {
  margin-top: 5%;
  text-align: center;
}
.custom-pager li {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 0 4px;
  background-color: #0374b9;
  border-radius: 100%;
  cursor: pointer;
}
.custom-pager li.active {
  background-color: #ed4545;
}
#item-slider {
  visibility: hidden;
}
.lSSlideOuter {
  position: relative;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  width: 487px;
  max-width: 100%;
  margin-top: 2px;
  z-index: 1;
}
.lSPager.lSGallery {
  position: relative;
}
.rouble {
  font-family: 'rouble';
  font-weight: normal;
}
.services .item {
  overflow: hidden;
  border-top: 2px solid #e6e6e6;
}
.services .item:last-child {
  border-bottom: 2px solid #e6e6e6;
}
.services .item .title {
  margin-bottom: 2px;
  color: #0374b9;
  font-size: 14px;
  font-weight: bold;
}
.services .item .info {
  font-size: 13px;
  font-weight: bold;
}
.services .item .info .number {
  font-size: 17px;
}
.services .item .cost-wrap {
  margin-bottom: 20px;
}
.procedure-page .desc {
  margin-bottom: 23px;
}
.basic-button.big button,
.basic-button.big a {
  padding: 18px 55px;
  font-size: 19px;
  font-weight: bold;
}
.procedure-page .services .basic-button {
  margin-top: 30px;
}
.content ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.content ol {
  list-style: decimal;
  padding: 0 0 0 17px;
}
.content ol li {
  margin-bottom: 7px;
}
.content ul li {
  position: relative;
  margin-bottom: 7px;
  padding-left: 36px;
  overflow: hidden;
}
.content ul li:before {
  content: '–';
  position: absolute;
  left: 0;
  top: 0;
}
.content h2 {
  margin-top: 48px;
}
.content p {
  margin-bottom: 10px;
}
.content img {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  max-width: 100%;
}
.select-number {
  margin-bottom: 15px;
}
.select-number .ui-button-text-only .ui-button-text {
  font-size: 29px;
  color: #ed4545;
  font-weight: bold;
  padding: 6px 17px;
  border: 3px solid transparent;
}
.select-number .ui-button-text-only.ui-state-active .ui-button-text {
  border: 3px solid #aed2e8;
}
.select-programm {
  position: relative;
}
.select-programm h2 {
  margin-bottom: 16px;
}
.select-programm .cost,
.room-modal .cost {
  display: inline-block;
  padding: 8px 42px;
  border: 3px solid #aed2e8;
  color: #ed4545;
  margin-bottom: 37px;
  font-size: 20px;
  font-weight: bold;
}
.select-programm .cost .number,
.room-modal .cost .number {
  font-size: 29px;
}
.item-page h1 {
  text-align: center;
}
.item-page .result,
.procedure-page .result {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: #0374b9;
  color: #fff;
}
.item-page .result h2,
.procedure-page .result h2 {
  color: #fff;
  margin-top: 38px;
  min-height: 24px;
}
.procedure-page .result h2 {
  background: url(/static/img/heart_icon.png) no-repeat left top;
  padding-left: 37px;
}
.item-page .result h2 span,
.procedure-page .result h2 span {
  border-bottom: 3px solid #ed4545;
}
.procedure-page .result .content,
.programm-page .result .content {
  padding: 1px 30px 20px 30px;
}
.programm-page .details a {
  float: right;
  margin-top: 20px;
}
.programm-page .details a:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 14px;
  width: 0;
  height: 0;
  margin: auto;
  border-top: 13px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.procedure-page,
.programm-page {
  padding-bottom: 55px;
}
.programm-page .content-rolled {
  display: none;
}
.programm-page .content-rolled .basic-button {
  display: inline-block;
  margin-right: 10px;
  margin-top: 15px;
}
.procedure-page .procedure-content h2,
.programm-page .programm-content h2 {
  margin-top: 25px;
  margin-bottom: 15px;
}
.procedure-page .image {
  float: left;
  margin: 3px 20px 15px 0;
}
.booking-page {
  position: relative;
  padding-top: 1px;
}
.booking-page h1 {
  margin-bottom: 13px;
}
.booking-page .step {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
}
.booking-page .step span {
  padding: 0 5px;
  background-color: #0374b9;
  border-radius: 100%;
  font-weight: bold;
  color: #fff;
}
.share {
  display: block;
  float: right;
  position: relative;
  top: -1px;
  width: 503px;
  max-width: 100%;
  color: #fff;
}
.share .info {
  width: 74.6%;
  position: relative;
  z-index: 1;
  padding: 5px 0 12px 40px;
}
.share .info:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ed4545;
  transform: skewX(-10deg);
  transform-origin: left bottom 0;
}
.share .info > * {
  position: relative;
}
.share:hover {
  text-decoration: none;
  color: #fff;
} 
.share .img-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25.4%;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
.share .title {
  position: absolute;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .04em;
}
.share .text {
  padding-left: 96px;
  margin-top: 3px;
  font-size: 14px;
}
.share .cost {
  font-size: 13px;
}
.share .cost p {
  margin-top: 8px;
  margin-bottom: 5px;
}
.share .basic-button {
  margin-left: 5px;
  padding-right: 10px;
  text-align: right;
}
.share .basic-button span {
  text-transform: none;
  font-size: 12px;
  letter-spacing: 0;
  padding: 3px 13px;
}
.booking-map-page .map {
  position: relative;
  overflow: hidden;
  max-width: 1900px;
  margin: auto;
}
.booking-map-page .map .map-img {
  display: block;
  margin: auto;
}
.booking-map-page .map .map-img.ui-draggable-dragging {
  cursor: move;
}
.map .zoom {
  position: absolute;
  top: 10px;
  right: 10px;
}
.map .zoom a {
  display: block;
  height: 20px;
  width: 20px;
  text-decoration: none;
  font-size: 15px;
  color: #0374B9;
  background-color: #e8e8e8;
  text-align: center;
  margin-bottom: 2px;
}
.booking-step2-page {
  padding-bottom: 65px;
}
.booking-step2-page h2 {
  font-size: 19px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.select-room .form-group {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
}
.select-room {
  padding-bottom: 15px;
  border-bottom: 2px solid #e6e6e6;
}
.select-room .form-group .square,
.select-number-rooms .square,
.custom-radio .square {
  position: absolute;
  width: 25px;
  left: 0;
  height: 25px;
  border: 2px solid #6daed6;
  border-radius: 100%;
}
.select-room .ui-button-text-only .check-title {
  white-space: nowrap;
}
.select-room .form-group .stars {
  margin-bottom: 18px;
}
.select-room .ui-state-active.square {
  border-color: #0374b9;
  background: url(/static/img/check_mark.png) no-repeat center center;
}
/*.select-number-rooms .ui-state-active .square {
  border-color: #0374b9;
  background: url(/static/img/check_mark.png) no-repeat center center;
  background-size: 80%;
}*/
.select-room .form-group .title {
  cursor: pointer;
}
.booking-step2-page  .select-room .title .ui-button-text {
  border-bottom: 1px dashed;
  text-transform: uppercase;
}
.booking-step2-page .add-person-form .custom-radio span.title,
.booking-step2-page .select-programm-wrap .custom-radio span.title {
  margin-left: 35px;
  color: #337ab7;
  font-weight: normal;
}
.booking-step2-page .select-programm-wrap .custom-radio span.title {
  display: inline-block;
}
.booking-step2-page .add-person-form .old .custom-radio .square,
.booking-step2-page .select-programm-wrap .old .custom-radio .square {
  top: -2px;
}
.add-person-form .ui-buttonset label.ui-button,
.select-programm-wrap .ui-buttonset label.ui-button  {
  vertical-align: top;
}
.ui-datepicker {
  border: 2px solid #0374b9;
  background-color: #ededed;
}
.booking-step2-page  .dates .from-to {
  display: inline-block;
  position: relative;
  margin-bottom: 9px;
}
.booking-step2-page  .dates .from-to label {
  font-weight: normal;
}
.form-control {
  height: 45px;
  border: 3px solid #83bbdd;
  border-radius: 0;
  font-size: 17px;
}
.booking-step2-page  .dates .from-to:first-child {
  margin-right: 62px;
}
/*.booking-step2-page  .dates .from-to:first-child:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 21px;
  left: 178px;
  height: 3px;
  width: 30px;
  background-color: #83bbdd;
}*/
.booking-step2-page  .dates .from-to .form-control {
  width: 162px;
  background: url('/static/img/calendar.png') no-repeat right 8px center;
}
.ui-datepicker td span, 
.ui-datepicker td a {
  text-align: center;
}
.booking-step2-page  .dates {
  padding-bottom: 30px;
  border-bottom: 2px solid #e6e6e6;
}
.booking-step2-page .add-man {
  margin-bottom: 40px;
}
.booking-step2-page .add-man button {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  background: #0374b9 url('/static/img/add_man.png') no-repeat right 30px center;
  padding-right: 80px;
}
.booking-step2-page .add-man button:hover {
  background-color: #ed4545;
}
.modal-content {
  border-radius: 0;
}
.room-modal .modal-dialog {
  width: 864px;
  max-width: 100%;
}
.room-modal .modal-body {
  height: 747px;
  padding: 30px;
}
.room-modal .room-content-wrap {
  display: none;
}
.room-slider li img {
  width: 100%;
}
.room-modal .room-desc {
  width: auto;
  float: none;
}
.room-modal .room-desc h2 {
  margin-top: 0;
  font-size: 17px;
}
.room-modal .room-desc > * {
  overflow: hidden;
}
.et-table {
  display: table;
}
.et-table-row {
  display: table-row;
}
.et-table-cell {
  display: table-cell;
}
.room-modal .character .title {
  color: #0374b9;
  font-weight: bold;
}
.room-modal .character .desc {
  font-weight: bold;
}
.room-modal .title {
  padding-right: 33px;
}
.room-modal .et-table-cell {
  padding-bottom: 15px;
}
.room-modal .lSSlideOuter {
  float: none;
}
.custom-radio .ui-button-text-only .ui-button-text {
  position: relative;
  padding: 0 0 0 34px;
}
.select-number-rooms .ui-button-text-only .ui-button-text span {
  font-weight: normal;
  font-size: 17px;
  margin-top: 2px;
  display: inline-block;
}
.select-number-rooms h2 {
  margin-bottom: 10px;
}
.select-number-rooms {
  padding: 25px 0;
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
}
.room-modal .cost-wrap h2 {
  margin-top: 25px;
  margin-bottom: 15px;
}
.slider-wrap {
  z-index: 1;
}
.room-modal .buttons {
  margin-top: 40px;
}
.room-modal .buttons .basic-button:first-child {
  float: left;
  margin-bottom: 10px;
}
.room-modal .buttons .basic-button:last-child {
  float: right;
}
.booking-step2-page .add-person-form .old h2 p,
.booking-step2-page .select-programm-wrap .old h2 p {
  font-size: 17px;
  font-weight: normal;
  text-transform: none;
}
.booking-step2-page .add-person-form .old input,
.booking-step2-page .add-person-form .select-during .number-days,
.booking-step2-page .select-programm-wrap .old input,
.booking-step2-page .select-programm-wrap .select-during .number-days,
.number-days-programm {
  width: 59px;
  text-align: center;
}
/*.booking-step2-page .add-person-form > * {
  float: left;
}*/
.booking-step2-page .add-person-form .custom-radio .ui-button-text-only .ui-button-text,
.booking-step2-page .select-programm-wrap .custom-radio .ui-button-text-only .ui-button-text,
.select-room .ui-button-text-only .ui-button-text {
  padding: 0;
}
.booking-step2-page .select-programm-wrap .custom-radio .form-group {
  display: inline-block;
  width: 280px;
  max-width: 100%;
  margin-bottom: 10px;
}
.booking-step2-page .add-person-form .custom-radio .form-group {
  margin-bottom: 10px;
}
.booking-step2-page .add-person-form .custom-radio .details,
.booking-step2-page .select-programm-wrap .custom-radio .details {
  margin-left: 10px;
  text-decoration: underline;
}
.booking-step2-page .add-person-form .custom-radio .details:hover,
.booking-step2-page .select-programm-wrap .custom-radio .details:hover {
  text-decoration: none;
}
/*.booking-step2-page .add-person-form .old,*/
.booking-step2-page .select-programm-wrap .old {
  width: 21%;
}
.booking-step2-page .add-person-form .select-programm-wrap,
.booking-step2-page .select-programm-wrap .select-programm-wrap {
  width: 58%;
  padding-left: 120px;
}
/*.booking-step2-page .add-person-form .select-during,
.booking-step2-page .select-programm-wrap .select-during {
  width: 21%;
}*/
.booking-step2-page .add-person-form .select-during .ui-button-text-only .ui-button-text,
.booking-step2-page .select-programm-wrap .select-during .ui-button-text-only .ui-button-text {
  font-size: 23px;
  border: 3px solid #cfcfcf;
  width: 59px;
  height: 45px;
  padding: 4px 0 0 0;
  text-align: center;
}
.booking-step2-page .add-person-form .select-during .ui-state-active .ui-button-text,
.booking-step2-page .select-programm-wrap .select-during .ui-state-active .ui-button-text {
  background-color: #0374b9;
  color: #fff;
  border-color: #0374b9;
}
.booking-step2-page .add-person-form,
.booking-step2-page .select-programm-wrap {
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.booking-step2-page .add-person-form-wrap .basic-button {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 20px;
}
.basic-button.gray button {
  background-color: #a8a8a8;
}
.basic-button.gray button:hover {
  background-color: #0374b9;
}
.add-person-form-wrap {
  display: none;
}
.history-page .history-wrap {
  padding-top: 122px;
  padding-bottom: 60px;
}
.history-page .item .img-wrap img {
  max-width: 100%;
}
.history-page .item:nth-child(even) .img-wrap {
  float: right;
}
.history-page .item:nth-child(odd) .img-wrap img {
  border-top-right-radius: 12%;
  border-bottom-left-radius: 12%;
}
.history-page .item:nth-child(even) .img-wrap img {
  border-top-left-radius: 12%;
  border-bottom-right-radius: 12%;
}
.history-page .item .info-wrap .info {
  padding-bottom: 20px;
}
.history-page .item:nth-child(odd) .info-wrap .info {
  padding-left: 25px;
}
.history-page .item:nth-child(even) .info-wrap .info {
  padding-right: 25px;
}
.history-page .item .info-wrap h2 {
  margin-top: 39px;
}
.history-page .item:nth-child(even) .info-wrap h2,
.history-page .item:nth-child(even) .info-wrap .content {
  text-align: right;
}
.history-page .item .info-wrap:before,
.history-page .item .img-wrap:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25px;
}
.history-page .item:nth-child(odd) .info-wrap:before,
.history-page .item:nth-child(odd) .img-wrap:after {
  background-color: #27d356;
}
.history-page .item:nth-child(even) .info-wrap:before,
.history-page .item:nth-child(even) .img-wrap:after {
  background-color: #05a731;
}
.history-page .item:nth-child(odd) .img-wrap:after {
  right: -8px;
}
.history-page .item:nth-child(odd) .info-wrap:before {
  left: -17px;
}
.history-page .item .info-wrap .year-wrap {
  display: table;
  position: absolute;
  bottom: 100%;
  width: 119px;
  height: 106px;
}
.history-page .item:nth-child(odd) .info-wrap .year-wrap {
  left: -17px;
  background: url('/static/img/sheet1.png') no-repeat;
}
.history-page .item:nth-child(even) .img-wrap:after {
  left: -8px;
}
.history-page .item:nth-child(even) .info-wrap:before {
  right: -17px;
}
.history-page .item:nth-child(even) .info-wrap .year-wrap {
  right: -17px;
  background: url('/static/img/sheet2.png') no-repeat;
}
.history-page .item .info-wrap .year-wrap p {
  display: table-cell;
  color: #0374b9;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.history-page .item:nth-child(odd) .info-wrap .year-wrap p {
  padding-left: 24px;
}
.history-page .item:nth-child(even) .info-wrap .year-wrap p {
  padding-right: 24px;
}
.history-page .item:last-child .info-wrap:before {
  display: none;
}
.history-page .item:last-child .img-wrap:after {
  bottom: 38px;
}
.history-page .item:last-child .img-wrap:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 42px;
  height: 38px;
}
.history-page .item:nth-child(odd):last-child .img-wrap:before {
  right: -13px;
  background: url(/static/img/history_last_light.png) no-repeat;
}
.history-page .item:nth-child(even):last-child .img-wrap:before {
  left: -8px;
  background: url(/static/img/history_last.png) no-repeat;
}
.history-page .item:nth-child(odd):last-child .img-wrap img {
  border-bottom-right-radius: 13px;
}
.history-page .item:nth-child(even):last-child .img-wrap img {
  border-bottom-left-radius: 13px;
}
.map-page {
  position: relative;
  overflow: hidden;
}
.leaflet-map {
  height: 100%;
}
.leaflet-control-attribution.leaflet-control {
  display: none;
}
.booking-page .added-humans {
  padding-top: 48px;
}
.booking-page .added-humans h2,
.booking-page .number-person h2 {
  margin-top: 25px;
  margin-bottom: 8px;
}
.booking-page .added-humans h2 span,
.booking-page .number-person h2 span {
  font-size: 16px;
  text-transform: none;
  font-weight: normal;
}
.booking-page .added-humans .character, 
.booking-page .number-person .character {
  margin-bottom: 6px;
  font-size: 19px;
  letter-spacing: .04em;
  font-weight: bold;
}
.booking-page .added-humans .character span,
.booking-page .number-person .character span {
  font-weight: normal;
  letter-spacing: 0;
}
.booking-page .added-humans .delete {
  margin-top: 30px;
  padding-right: 19px;
  padding-left: 0;
  background: transparent url('/static/img/delete.png') right 9px no-repeat;
  border: none;
  font-size: 19px;
  font-weight: bold;
  color: #0374b9;
}
.booking-page .added-humans .delete span {
  border-bottom: 1px dashed #0374b9;
}
.booking-page .added-humans .delete span:hover {
  border-bottom: 1px dashed transparent;
}
.booking-page .added-humans .item {
  margin-bottom: 40px;
}
.booking-page .added-humans .item:nth-child(3n+1) {
  clear: left;
}
.modal .close {
  opacity: .7;
  width: 27px;
  height: 27px;
  margin-top: -43px;
  margin-right: -43px;
}
.modal .close:hover {
  opacity: 1;
}
.modal .close:before,
.modal .close:after {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  width: 25px;
  background-color: #fff;
}
.modal .close:before {
  transform: rotate(45deg);
}
.modal .close:after {
  transform: rotate(-45deg);
}
.modal-header {
  padding: 13px;
  background-color: #0374b9;
}
.modal-header h2 {
  color: #fff;
  text-align: center;
  font-size: 21px;
  text-transform: none;
}
.custom-radio .ui-state-active .square {
  border-color: #0374b9;
  background: url(/static/img/check_mark.png) no-repeat center center;
}
.form-control:focus {
  border-color: #0374b9;
  box-shadow: none;
}
.cancel-booking-modal textarea {
  min-height: 106px;
}
.cancel-booking-modal .info {
  margin-bottom: 20px;
  padding: 15px 40px;
  text-align: center;
  color: #fff;
  background-color: #ffa200;
  font-size: 22px;
  font-weight: bold;
}
.cancel-booking-modal .modal-body {
  padding-bottom: 45px;
}
.form-group {
  margin-bottom: 20px;
}
.cancel-booking-modal .modal-body .basic-button {
  text-align: right;
}
.cancel-booking-modal .modal-body .basic-button > button {
  font-weight: bold;
}
.custom-option-textarea {
  display: none;
}
.news-page .news-wrap {
  margin: 0 -8px;
  padding-bottom: 50px;
}
.news-page .item-wrap {
  float: left;
  width: 33.33333%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.news-page .item-wrap .item {
  display: block;
  position: relative;
  padding: 16px;
  border-top: 3px solid #0374b9;
  border-radius: 1px;
  box-shadow: -1px 0 2px 0 rgba(0,0,0,.12) , 1px 0 2px 0 rgba(0,0,0,.12) , 0 1px 1px 0 rgba(0,0,0,.24);
  transition: all .15s cubic-bezier(.33,.66,.66,1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform: translateZ(0);
}
.news-page .item-wrap .item:hover {
  text-decoration: none;
  box-shadow: -2px 0 2px 0 rgba(0,0,0,.16) , 2px 0 2px 0 rgba(0,0,0,.16) , 0 2px 2px 0 rgba(0,0,0,.23);
  transform: translate3d(0,-3px,0);
}
.news-page .item-wrap .item:hover .desc {
  opacity: .8;
}
.news-page .item-wrap .item:focus {
  text-decoration: none;
}
.news-page .item-wrap .item .image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.news-page .item-wrap .item h2 {
  margin-bottom: 3px;
  font-size: 24px;
  color: #0374b9;
  text-transform: none;
}
.news-page .item-wrap .item .date {
  font-size: 15px;
  color: #000;
  margin-bottom: 15px;
  font-style: italic;
}
.news-page .item-wrap .item .desc {
  color: #000;
  margin-bottom: 10px;
}
.news-page .item-wrap .item .details {
  float: right;
  margin-bottom: 10px;
  color: #337ab7;
  font-size: 14px;
  letter-spacing: .04em;
  font-weight: bold;
  text-transform: uppercase;
}
.news-page .item-wrap .item .details:hover {
  text-decoration: underline;
}
.news-page .item-wrap .item .share-img {
  position: absolute;
  left: 0;
  top: -12px;
  width: 120px;
}
.news-page .item-wrap:nth-child(3n+1) {
  clear: left;
}
.news-item-page {
  padding-top: 34px;
  padding-bottom: 50px;
}
.news-item-page h1 {
  margin-top: 0;
}
.news-item-page .date {
  color: rgba(0,0,0,0.7);
  display: block;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: .08em;
}
.news-item-page .news-image {
  max-width: 100%;
  margin-bottom: 20px;
}
.room-modal #preloader-ajax {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
}
.to-map {
  position: absolute;
  min-width: 186px;
  text-align: center;
  color: #0078A8;
  top: 15px;
  left: 15px;
  padding: 5px 17px;
  font-size: 10px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .18em;
  font-weight: bold;
  border: 2px solid #0374b9;
  background-color: #fff;
  z-index: 400;
  transition: .3s;
}
.to-map:hover {
  color: #fff;
  background-color: #0374b9;
  text-decoration: none;
}
.to-map:focus {
  text-decoration: none;
}
.proc-info {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  width: 100%;
  margin-top: 10px;
  right: 5px;
  background-color: #f7f7f7;
  padding: 16px 16px 16px 25px;
  border-top: 3px solid #0374b9;
  border-radius: 1px;
  box-shadow: -1px 0 2px 0 rgba(0,0,0,.12) , 1px 0 2px 0 rgba(0,0,0,.12) , 0 1px 1px 0 rgba(0,0,0,.24);
}
.proc-info h3 {
  margin-top: 0;
  padding: 0 15px;
  color: #0167a5;
  text-align: center;
  font-size: 20px;
}
.proc-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.proc-info ul li {
  position: relative;
  padding-left: 18px;
  overflow: hidden;
  font-size: 14px;
}
.proc-info ul li:before {
  content: '–';
  position: absolute;
  left: 0;
  top: 0;
}
.proc-info > ul > li {
  margin-bottom: 10px;
}
.proc-info .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
}
.proc-info .close-btn:before,
.proc-info .close-btn:after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 20px;
  margin-left: 9px;
  background-color: #929292;
}
.proc-info .close-btn:before {
  transform: rotate(45deg);
}
.proc-info .close-btn:after {
  transform: rotate(-45deg);
}
.proc-info .close-btn:hover {
  opacity: .7;
}
.room-modal .close {
  position: relative;
  z-index: 1;
  margin-top: -30px;
  margin-right: -30px;
}
.review-form-wrap {
  border-top: 3px solid #0374b9;
  border-bottom: 3px solid #0374b9;
  background-color: aliceblue;
}
.review-form-wrap h2 {
  font-size: 23px;
  margin-bottom: 35px;
}
textarea.form-control {
  height: 175px;
  resize: none;
}
.review-form-wrap .basic-button {
  float: right;
  margin-bottom: 40px;
}
.reviews-wrap .item {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding: 16px;
  border-top: 3px solid #0374b9;
  border-radius: 1px;
  box-shadow: -1px 0 2px 0 rgba(0,0,0,.12) , 1px 0 2px 0 rgba(0,0,0,.12) , 0 1px 1px 0 rgba(0,0,0,.24);
  transition: all .15s cubic-bezier(.33,.66,.66,1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform: translateZ(0);
}
.reviews-wrap .item .name {
  background: url(/static/img/person_icon.png) left top no-repeat;
}
.reviews-wrap .item .date {
  background: url(/static/img/calendar.png) left top no-repeat;
}
.reviews-wrap .item .name,
.reviews-wrap .item .date {
  display: inline-block;
  margin-right: 20px;
  padding-left: 25px;
  padding-top: 2px;
  font-style: italic;
  font-weight: bold;
  background-size: auto 19px;
}
.reviews-wrap .item .text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
}
.review-form-wrap #preloader-ajax {
  margin-bottom: 50px;
}
.indicative-cost {
  padding-top: 30px;
  border-top: 2px solid #e6e6e6;
}
.indicative-cost .title {
  margin-bottom: 20px;
  margin-right: 15px;
  color: #ed4545;
  font-weight: bold;
  font-size: 20px;
}
.indicative-cost .title span {
  font-size: 25px;
  font-weight: bold;
}
.indicative-cost .basic-button {
  float: right;
  margin-bottom: 20px;
}
.selected-booking .h2-wrap {
  position: relative;
  text-align: center;
}
.selected-booking .h2-wrap:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  background-color: #8bbfdf;
  width: 100%;
}
.selected-booking .h2-wrap h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  padding: 0 30px;
  font-size: 26px;
  background-color: #fff;
}
.selected-booking .selected-item {
  display: inline-block;
  padding: 3px 40px;
  font-size: 18px;
}
.selected-booking .selected-item b {
  color: #0374b9;
}
.selected-booking .selected-item.cost {
  background: url(/static/img/cost_icon.png) center left no-repeat;
}
.selected-booking .selected-item.room {
  padding-left: 30px;
  background: url(/static/img/key_icon.png) center left no-repeat;
}
.selected-booking .selected-item.date {
  padding-left: 30px;
  background: url(/static/img/calendar_icon.png) center left no-repeat;
}
.booking-page .number-person {
  margin-top: 40px;
  margin-bottom: 40px;
}
.booking-page .number-person .item {
  padding: 10px 15px 10px 35px;
}
.booking-page .number-person .item h2 {
  margin-top: 6px;
}
.booking-page .number-person .item:before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #bedbed;
}
.indicative-cost-block {
  display: inline-block;
  position: relative;
  padding: 14px 15px;
  background-color: #0374b9;
}
.indicative-cost-block p {
  font-size: 19px;
  color: #fff;
  font-weight: bold;
}
.indicative-cost-block span {
  font-size: 26px;
}
.indicative-cost-block:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 100%;
  border-bottom: 59px solid #0374b9;
  border-right: 37px solid transparent;
}
.formalize-apply .basic-button {
  float: right;
}
.formalize-apply {
  margin-top: -3px;
  padding-top: 50px;
  border-top: 3px solid #bedbed;
}
.booking-step3-page {
  padding-bottom: 50px;
}
.booking-map {
  position: relative;
  height: 820px;
  background: url(/static/img/booking_map.jpg) center center no-repeat;
}
.booking-map .booking-icon {
  display: block;
  position: absolute;
}
.booking-map .icon1 {
  left: calc(100%/2 - 320px);
  top: 60px;
}
.booking-map .icon1 .flip-card,
.booking-map .icon2 .flip-card {
  width: 169px;
  height: 169px;
}
.booking-map .icon3 .flip-card {
  width: 278px;
  height: 278px;
}
.booking-map .icon4 .flip-card {
  width: 172px;
  height: 172px;
}
.booking-map .back {
  display: none;
}
.touchevents .booking-map .back {
  display: block;
}
.touchevents .booking-map .front {
  display: none;
}
.booking-map .back p {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0374B9;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 72px;
  border-radius: 100%;
  border: 3px solid #fff;
}
.booking-map .icon3 .flip-card .back p {
  padding-top: 120px;
}
.booking-map .icon2 {
  left: calc(100%/2 - 200px);
  top: 184px;
}
.booking-map .icon3 {
  left: calc(100%/2 - 170px);
  top: 420px;
}
.booking-map .icon4 {
  left: calc(100%/2 + 80px);
  top: 600px;
}
.booking-map .booking-icon img {
  border: 3px solid #fff;
  border-radius: 100%;
}
.places h2,
.places p,
.way-to-get-wrap h2,
.way-to-get-wrap p {
  padding-left: 40px;
  line-height: 30px;
}
.places h2 {
  margin: 0;
  font-size: 20px;
}
.places p {
  font-size: 18px;
}
.places .address {
  background: url(/static/img/addr_icon.png) left 1px no-repeat;
}
.places .phones {
  background: url(/static/img/phone_icon.png) left 1px no-repeat;
}
.places .phones a {
  white-space: nowrap;
}
.places .email {
  background: url(/static/img/email_icon.png) left 1px no-repeat;
}
.places .item {
  margin-bottom: 40px;
}
.places .basic-button button {
  margin-left: 40px;
  margin-bottom: 50px;
  padding: 18px 30px 18px 68px;
  background-repeat: no-repeat;
  background-image: url(/static/img/phone_icon_big.png);
  background-position: 30px center;
}
.way-to-get-wrap {
  padding: 43px 20px;
  background-color: #f1f1f1;
}
.way-to-get-wrap h2 {
  margin: 0;
  font-size: 20px;
  color: #ed4545;
}
.way-to-get-wrap .head {
  margin-bottom: 25px;
}
.way-to-get .type {
  font-weight: bold;
  color: #0374b9;
}
.way-to-get .plane {
  background: url(/static/img/plane_icon.png) left 1px no-repeat;
}
.way-to-get .train {
  background: url(/static/img/train_icon.png) 4px 1px no-repeat;
}
.way-to-get .bus {
  background: url(/static/img/bus_icon.png) left 1px no-repeat;
}
.way-to-get .car {
  background: url(/static/img/car_icon.png) left 1px no-repeat;
}
.way-to-get .taxi {
  background: url(/static/img/taxi_icon.png) left 1px no-repeat;
}
.way-to-get .walking {
  background: url(/static/img/person_contacts_icon.png) left 1px no-repeat;
}
#map {
  height: 600px;
}
.way-to-get .selected .type {
  text-decoration: underline;
}
.callback-modal .modal-header h2 {
  text-transform: uppercase;
}
.callback-modal .basic-button button {
  float: right;
  margin-bottom: 30px;
}
.ui-buttonset label.ui-button {
  margin-bottom: 8px;
  text-align: left;
}
.select-room .check-title {
  position: relative;
  padding-left: 33px;
}
.content table {
  width: 100%;
  border: 1px solid #bfbfbf;
}
.content table th,
.content table td {
  border: 1px solid #bfbfbf;
}
.content table th {
  padding: 10px 10px;
  border: 1px solid #0167a5;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  background-color: #0167a5;
  color: #fff;
}
.content table td {
  padding: 4px 10px;
  font-size: 15px;
}
.content table {
  margin: 15px 0 20px 0;
  width: 100% !important;
}
.content table th, 
.content table td {
  border: 1px solid #bfbfbf !important;
}
.content table tbody tr:first-child td {
  padding: 10px 10px;
  border: 1px solid #0167a5 !important;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  background-color: #0167a5;
  color: #fff;
}
.cabinet-modal .content table tbody tr:first-child td {
  font-size: 16px;
  letter-spacing: 0.04em;
}
.content table tbody tr:first-child td font {
  font-family: 'PT Sans', sans-serif !important;
}
.content table tbody tr,
.content table tbody td {
  width: auto !important;
  height: auto !important;
}
.gallery-poster {
  display: none;
  background-color: rgba(0,0,0,.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color .15s ease 0s;
  -o-transition: background-color .15s ease 0s;
  transition: background-color .15s ease 0s;
}
.gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity .3s ease 0s;
  -o-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s;
}
.video-gallery .gallery-poster > img {
  opacity: 1;
  margin-left: -32px;
  margin-top: -32px;
}
a:hover .gallery-poster {
  background-color: rgba(0, 173, 255, 0.5)
}
a:hover .gallery-poster > img {
  opacity: 1;
}
.content.padding-bottom {
  padding-bottom: 50px;
}
.all-infra-menu {
  position: absolute;
  right: 70px;
  bottom: 100%;
  width: 490px;
  padding: 15px 0 20px;
  z-index: 400;
  background-color: rgba(3, 116, 185, .9);
  overflow-y: auto;
}
.all-infra-menu ul li {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .14em;
}
.all-infra-menu ul li a {
  display: block;
  padding: 10px 15px 10px 60px;
  margin: 3px 0;
  background-repeat: no-repeat;
  background-position: 15px center;
  text-decoration: none;
  color: #fff;
  background-size: auto 30px;
}
.all-infra-menu ul li a:hover {
  background-color: rgb(15, 164, 255);
}
.turn-menu {
  display: block;
  position: absolute;
  right: 70px;
  top: 0;
  width: 490px;
  padding: 15px 0;
  z-index: 401;
  background-color: rgba(3, 116, 185, .9);
  text-align: center;
}
.turn-menu:hover,
.turn-menu:focus {
  text-decoration: none;
}
.turn-menu span {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  vertical-align: middle;
  margin-left: 10px;
}
.turn-menu img {
  transition: .3s;
}
.map-page .menu-wrap .all-infra-menu {
  opacity: .2;
  transition: opacity .3s;
}
.map-page .menu-wrap:hover .all-infra-menu {
  opacity: 1;
}
.booking-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, .8);
}
.booking-page .back-button img {
  padding: 10px;
  margin-top: -5px;
}
.leaflet-map .content ul li {
  position: relative;
  margin-bottom: 0px;
  padding-left: 15px;
  overflow: hidden;
}
.leaflet-map .content {
  max-height: 120px;
  overflow-y: auto;
}
.leaflet-map .content p,
.leaflet-map .content h5 {
  margin-bottom: 5px;
}
.add-person-form h2,
.select-programm-wrap h2 {
  margin-top: 10px;
}
.booking-error-message {
  margin-bottom: 10px;
  color: red;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
.cabinets {
  padding-bottom: 50px;
}
.cabinets .basic-button.big a {
  width: 100%;
  margin-bottom: 15px;
  word-wrap: break-word;
  padding: 18px 20px;
}
.cabinets .item-wrap:nth-child(2n+1) {
  clear: left;
}
.cost-wrap h3 {
  color: #0167a5;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 15px;
}
.cost-wrap p {
  font-size: 16px;
  margin-bottom: 4px;
}
.cost-wrap p span {
  font-weight: bold;
}
.cost-wrap p .rouble {
  font-weight: normal;
}
.booking-back {
  margin-top: -3px;
  margin-left: 10px;
  display: inline-block;
  position: absolute;
}
.check-food {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}
.check-food .square {
  border-radius: 0;
}
.check-food input:checked + label .square {
  border-color: #0374b9;
  background: url(/static/img/check_mark.png) no-repeat center center;
}
.booking-step2-page .add-person-form .custom-radio .check-food  span.title {
  white-space: nowrap;
}
.video-gallery {
  display: none;
}
.lightgalleries {
  display: none;
}
.custom-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}
#booking_form {
  overflow: hidden;
}
@media screen and (max-width: 1366px) {
/*Styles for all infrastracture map*/
  .booking-map {
    height: auto;
    padding-bottom: 42.73%;
    background-size: 100%;
  }
  .booking-map .icon1 .flip-card, 
  .booking-map .icon2 .flip-card,
  .booking-map .icon3 .flip-card,
  .booking-map .icon4 .flip-card,
  .booking-map .booking-icon img {
    width: 125px;
    height: 125px;
  }
  .booking-map .icon1 {
    left: 30%;
    top: 2%;
  }
  .booking-map .icon2 {
    left: 39%;
    top: 27%;
  }
  .booking-map .icon3 {
    left: 44%;
    top: 57%;
  }
  .booking-map .icon4 {
    left: 57%;
    top: 68%;
  }
  .booking-map .back p,
  .booking-map .icon3 .flip-card .back p {
    padding-top: 51px;
  }
}
@media screen and (max-width: 1259px) {
  header .phones {
    display: block;
    text-align: center;
  }
  header .booking-button {
    margin-left: 0;
    margin-right: 0;
  }
  header #search {
    margin-top: 8px;
  }
  header .title-phone-time .work-time {
    margin-right: 0;
    margin-left: 0;
  }
  .et-menu > ul > li {
    font-size: 13px;
    letter-spacing: 0;
  }
  .et-menu > ul > li > a {
    padding: 10px 15px;
  }
  .programms .item .title {
    font-size: 16px;
  }
  .header-pages .et-menu {
    margin-left: -15px;
  }
  .header-pages .info-wrap .booking-button {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 33px
  }
  .header-pages .info-wrap .phone {
    margin-right: 0;
    float: right;
  }
  .left-col {
    width: 31%;
  }
  .right-col {
    width: 69%;
  }
  .lSSlideOuter {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .share-wrap {
    position: relative;
  }
  .header-pages #search {
    top: 42px;
  }
  .share {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .booking-step2-page .add-person-form .select-during,
  .booking-step2-page .select-programm-wrap .select-during {
    width: 29%;
  }
  .booking-step2-page .add-person-form .select-programm-wrap,
  .booking-step2-page .select-programm-wrap .select-programm-wrap {
    width: 50%;
  }
  .news-page .item-wrap {
    width: 50%;
  }
  .news-page .item-wrap:nth-child(3n+1) {
    clear: none;
  }
  .news-page .item-wrap:nth-child(2n+1) {
    clear: left;
  }
  .room-modal .modal-dialog {
    width: auto;
    margin: 30px;
  }
  header .buttons-wrap {
    width: auto;
  }
  header .buttons-wrap .basic-button:first-child a {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 992px) {
  header .header-top {
    text-align: center;
  }
  .et-dropdown-menu {
    background-color: #0387D8;
  }
  .et-dropdown-menu:after {
    border-bottom: 9px solid #0387D8;
  }
  .main-page .img-logo-info .info .item h3 {
    min-height: 38px;
  }
  .main-page .about-order .about {
    width: 60%;
    padding-right: 20px;
  }
  .main-page .about-order .order {
    width: 40%;
  }
  .main-page .about-order .about h2 {
    font-size: 25px;
  }
  footer .menu ul li {
    width: 50%;
  }
  .header-pages .info-wrap .phone {
    float: none;
  }
  .header-pages #search {
    position: absolute;
    margin-top: 38px;
    width: auto;
  }
  .left-col,
  .right-col {
    width: 100%;
  }
  .side-menu {
    margin-top: 30px;
  }
  h1 {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 24px;
  }
  .booking-step2-page .add-person-form .old,
  .booking-step2-page .select-programm-wrap .old {
    width: 100%;
  }
  .booking-step2-page .add-person-form .select-programm-wrap,
  .booking-step2-page .select-programm-wrap .select-programm-wrap {
    width: 100%;
    padding: 0;
  }
  .booking-step2-page .add-person-form .select-during,
  .booking-step2-page .select-programm-wrap .select-during {
    width: 100%;
  }
  .booking-page .added-humans .delete {
    margin-top: 10px;
  }
  .booking-page .added-humans .item:nth-child(3n+1) {
    clear: none;
  }
  .booking-page .added-humans .item:nth-child(2n+1) {
    clear: left;
  }
  header #search {
    margin-top: 14px;
    float: none;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-pages #search {
    top: -5px;
  }
  .header-pages #search:after {
    content: '';
    display: table;
    clear: both;
  }
  .header-pages .info-wrap .title {
    margin-bottom: 5px;
  }
  header .title-phone-time .work-time {
    text-align: center;
  }
  .all-infra-menu,
  .turn-menu {
    width: 250px;
  }
  .booking-map .booking-icon {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    margin: 10px;
  }
  .booking-map {
    padding-bottom: 0;
    background: none;
    text-align: center;
  }
  .booking-map .to-map {
    display: block;
    position: static;
    width: 270px;
    padding: 10px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
  .room-modal .buttons .basic-button:first-child,
  .room-modal .buttons .basic-button:last-child {
    float: right;
  }
}
@media screen and (max-width: 767px) {
  header .phone-small,
  header .phone {
    display: inline-block;
  }
  header .header-top {
    text-align: center;
  }
  header #search {
    float: none;
    width: 100%;
  }
  .et-dropdown-menu:before,
  .et-dropdown-menu:after {
    display: none;
  }
  .et-menu .et-dropdown-menu {
    margin-top: 5px;
  }
  .main-page .img-logo-info .main-img-wrap {
    min-height: 0;
    padding-bottom: 50px;
  }
  .main-page .img-logo-info .info {
    position: relative;
    padding: 20px 0 10px;
  }
  .main-page .img-logo-info .info .item {
    width: 320px;
    max-width: 100%;
    margin: auto;
    display: block;
    margin-bottom: 50px;
    text-align: center;
  }
  .main-page .img-logo-info .info .item h3 {
    min-height: auto;
  }
  .programms .item-wrap {
    max-width: 350px;
    margin: auto;
  }
  .main-page .about-order .about,
  .main-page .about-order .order {
    width: 100%;
    float: none;
    padding-right: 0;
  }
  .main-page .about-order .basic-button {
    text-align: center;
  }
  footer {
    padding: 20px 0;
  }
  footer .menu {
    margin-bottom: 25px;
  }
  footer .menu ul li {
    text-align: center;
  }
  .header-pages .logo {
    position: static;
    margin-left: 50px;
  }
  .header-pages .info-wrap {
    margin-left: 0;
  }
  .header-pages .info-wrap .title {
    display: block;
    padding-left: 0;
  }
  .header-pages .info-wrap .phone {
    margin-left: 15px;
    margin-right: 15px;
  }
  .header-pages .info-wrap .booking-button {
    margin-left: 0;
    margin-right: 0;
  }
  .header-pages .et-menu {
    clear: left;
  }
  .share {
    display: none;
  }
  .booking-step2-page  .dates .from-to {
    display: block;
  }
  .booking-step2-page  .dates .from-to:first-child:after {
    display: none;
  }
  .history-page .item:nth-child(even) .img-wrap {
    float: none;
    text-align: right;
  }
  .history-page .item:nth-child(odd) .info-wrap .year-wrap {
    left: 15px;
  }
  .history-page .item:nth-child(even) .info-wrap .year-wrap {
    right: 15px;
  }
  .history-page .item .info-wrap .year-wrap {
    margin-bottom: 39px;
  }
  .history-page .item:nth-child(odd):last-child .img-wrap:before,
  .history-page .item:nth-child(even):last-child .img-wrap:before,
  .history-page .item .info-wrap:before,
  .history-page .item .img-wrap:after {
    display: none;
  }
  .history-page .item {
    margin-bottom: 45px;
  }
  .history-page .history-wrap {
    padding-top: 20px;
  }
  .modal .close {
    margin-top: 0;
    margin-right: 0;
  }
  .news-page .item-wrap {
    width: 100%;
  }
  header #search .form-control {
    width: 100%;
  }
  .room-modal .modal-body {
    padding: 30px 10px;
  }
  .modal .close:before, 
  .modal .close:after {
    background-color: #c1bbbb;
  }
  .room-modal .modal-dialog {
    margin: 20px 5px;
  }
  .indicative-cost .title {
    clear: both;
  }
  .indicative-cost-block:after {
    display: none;
  }
  .places .basic-button button {
    margin-left: 0;
  }
  .header-pages #search .form-control {
    float: right;
  }
  .way-to-get-wrap {
    padding: 25px 10px;
  }
  .header-pages #search {
    position: relative;
    margin-top: 0;
  }
  .header-pages #search .form-control {
    float: none;
  }
  .header-pages #search.collapsed .form-control {
    width: 100%;
  }
  .procedure-page .image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .procedure-page .result {
    margin-left: -15px;
    margin-right: -15px;
  }
  .all-infra-menu, 
  .turn-menu {
    left: 15px;
    right: auto;
  }
  .map-page .to-map {
    top: 65px;
  }
}

.question-answer h1 {
  display: inline-block;
  text-align: left;
}
.title-h1 a {
  display: inline-block;
  width: 30px;
  height: 24px;
  background: url(../img/arr_back.png);
  margin-left: 10px;
}


/* стили блока аккордеон */
.accordion {
  width:100%;
  margin: 0 auto;
}
/* секции аккордеона */
.accordion .accordion_item {
  display: inline-block;
  margin-bottom:1px;
  position:relative;
}
.accordion_item .info-wrap {
  padding-left: 35px;
}
/* заголовки панелей аккордеона */
.accordion .title_block {
    margin: 5px 0;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 55px 10px 15px;
    -webkit-transition: all .2s linear 0;
    -webkit-transition-delay: .2s 0;
    transition: all .2s linear 0;
    font-weight: bold;
    color: #4f4f4f;
}
.accordion .title_block span {
    position: relative;
    border-bottom: 1px dotted;  
}
/* переключатель панелей, положение вниз */
.accordion .title_block span:before {
  content:'';
  height:8px;
  width:8px;
  display:block;
  border:2px solid #4f4f4f;
  border-right-width:0;
  border-top-width:0;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  position:absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    margin: auto;
}
/* активный переключатель, положение вверх */
.accordion .active_block .title_block span:before {
  border: 2px solid #0374b9;
  border-left-width:0;
  border-bottom-width:0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.accordion .title_block:hover,
.accordion .active_block .title_block {
  color: #0374b9;
}
 
/* блоки с содержанием */
.accordion .info {
  display:none;
  padding:30px;
  overflow: hidden;
  background:#f2f2f2;
}
/* параграф внутри блоков с содержанием */
.accordion .info_item {
  margin-bottom:10px
}
/* картинки внутри аккордеона */
.accordion .info img {
    height: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* полноразмерная картинка */
.large-img {
    width: 100%;
    margin-bottom: 10px;
}
/* миниатюра слева */
.img-left {
    width: 25%;
    float:left;
    margin:5px 15px 5px 0;
}
/* миниатюра справа */
.img-right {
    width: 25%;
    float:right;
    margin:5px 0 5px 15px;
}
.new-sale-wrapper {
  background: #ed4545;
  padding: 70px 0;
}
.title-sale {
  margin-bottom: 15px;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}
.description-sale {
  font-size: 20px;
  color: white;
}
#subscribe_form input[type="text"] {
  float: left;
  height: 60px;
  width: 70%;
  border-radius: 0;
  display: inline-block;
  padding-left: 17px;
  border: 0;
}
#subscribe_form button {
  display: inline-block;
  width: 30%;
  /*float: left;*/
  height: 60px;
  border: 0;
  background: #0374b9;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  transition: .2s;
}
#subscribe_form button:hover {
  background: #ff6c00;
}

.check_yes_block {
  clear: left;
  position: relative;
}
.sale-yes {
  position: absolute;
  top: 27px;
  left: 35px;
  font-size: 12px;
  color: white;
}
#subscribe_form input[type="checkbox"] {
    display: none;
}
#subscribe_form input[type="checkbox"]:checked + label {
  background: url(/static/img/check_mark.png) center center no-repeat;
  background-color: white;
}
input[type="checkbox"] + label {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 21px;
  border: 0;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
  background-color: #fff;
}
.btn-section-wrap {
  margin-bottom: 38px;
}
.btn-section-wrap a {
  position: relative;
  padding: 20px 25px 20px 60px;
  margin-right: 22px;
  border: 1px solid;
  display: inline-block;
  background-color: #0374b9;
  font-size: 21px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  transition: .3s;
}
.btn-section-wrap a img {
    margin-left: -40px;
    padding-right: 10px;
	transition: .3s;
}
.btn-section-wrap a.active,
.btn-section-wrap a:hover {
  color: #989898;
  background-color: #fff;
  text-decoration: none;
}
.btn-section-wrap a.active img,
.btn-section-wrap a:hover img {
	filter: invert( 50% );
}
/*
.btn-section-wrap a:before {
    content: '';
    position: absolute;
    width: 28px;
    height: 24px;
    display: inline-block;    
    left: 25px;
}
*/
/*
.btn-sale:before {
  background: url(/static/img/btn-sale.png) no-repeat;
}
.btn-news:before {
  background: url(/static/img/btn-news.png) no-repeat;
}
.btn-article:before {
  background: url(/static/img/btn-article.png) no-repeat;
}
.btn-sale.active:before,
.btn-sale:hover:before {
  background: url(/static/img/btn-sale-on.png) no-repeat;
}
.btn-news.active:before,
.btn-news:hover:before {
  background: url(/static/img/btn-news-on.png) no-repeat;
}
.btn-article.active:before,
.btn-article:hover:before {
  background: url(/static/img/btn-article-on.png) no-repeat;
}
*/

.btn-recreation:before {
  background: url(/static/img/btn-recreation.png) no-repeat;
}
.btn-therapy:before {
  background: url(/static/img/btn-therapy.png) no-repeat;
}

.btn-recreation:before,
.btn-recreation:hover:before {
  background: url(/static/img/btn-recreation-on.png) no-repeat;
}
.btn-therapy.active:before,
.btn-therapy:hover:before {
  background: url(/static/img/btn-therapy-on.png) no-repeat;
}
.header-pages.spec-header .logo {
  position: relative;
  margin-bottom: 9px;
  margin-left: 0;
}
.header-pages.spec-header .logo img {
  max-width: 100%;
}
.btn-cabinet-wrap {
  margin-top: 40px;
}
.btn-cabinet-wrap a {
  color: white;
  text-decoration: underline;
  padding-left: 20px;
}
.btn-cabinet-wrap a:hover {
  text-decoration: none;
}
.btn-enter {
  margin-right: 40px;
  background: url(/static/img/pic-enter.png) no-repeat;
}
.btn-login {
  background: url(/static/img/pic-login.png) no-repeat;
}
.right {
  text-align: right;
}
.spec-page h1 {
  font-size: 27px;
  color: #0374b9;
}
.companies-wrap .item {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.companies-wrap .company-img,
.logo-comp {
  border: 1px solid #d4d4d4;
  padding: 2px;
  position: relative;
  height: 50px;
}
.companies-wrap .company-img img,
.logo-comp img {
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-height: 100%;
}
.companies-wrap .title {
  text-decoration: underline;
}
.enemy .basic-button a {
  width: 100%!important;
  padding-top: 17px;
  padding-bottom: 17px;
}
.enemy .basic-button {
  position: relative;
}
.enemy .basic-button .details-wrap {
  position: absolute;
  display: none;
  width: 215px;
  padding: 20px;
  background: #ededed;
  z-index: 10;
  top: 50px;
  left: -35px;
  box-shadow: 4px 4px 0 0 rgba(88, 88, 88, 0.6);
}
.enemy .basic-button a {
  padding: 15px 5px;
}
.time-wrap {
  font-size: 12px;
  color: #5b5b5b;
  margin-bottom: 10px;
}
.time-wrap .time {
  margin-left: 15px;
  margin-bottom: 10px;
}
.arrow-up,
.arrow-down {
  position: relative;
  display: inline-block;
  margin-top: 3px;
  font-size: 15px;
  padding: 13px 13px 13px 30px;
  border: 1px solid;
}
.arrow-up {
  color: #ed4545;  
}
.arrow-down {
  color: #0ea32a;
}
.arrow-up:before,
.arrow-down:before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 15px;
  margin: auto;
  width: 6px;
  height: 14px;
}
.arrow-up:before {
  background: url('/static/img/arr-up.png');
}
.arrow-down:before {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAOCAYAAAAMn20lAAAAcklEQVQYldXQoQ0CQRhE4W/3wJDgTgNtIRBbwUmKwCIQBByaKlAUwVoECRrxIzgICRXw3MxLRkyKCGk/HeOOW5TaQvaiQcKgzx/xw5+JZDfZYoQ5HjjgmnHuSxhigVOOUjdYfa10Uerx/c0SM1yi1DU8Adj8GcXMtyxqAAAAAElFTkSuQmCC');
}
.details-wrap {
  display: none;
}
.enemy .basic-button:hover .details-wrap {
  display: block;
}
.details-wrap:before {
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #ededed;
}
.spec-page .title-h1 h1 {
  display: inline-block;
  text-align: left;
}
.rooms {
  margin-bottom: 80px;
}
.room {
  margin-bottom: 25px;
}
 .img-wrap img {
  max-width: 100%;
}
.follow-pos {
  display: inline-block;
  font-size: 12px;
  color: #5b5b5b;
  background: #f2f2f2;
  padding: 3px 5px;
  transition: .2s;
  margin-top: 8px;
}
.follow-pos:hover {
  text-decoration: none;
  background: #0374b9;
  color: white;
}
.room .arrow-up,
.room .arrow-down {
  padding: 6px 30px 6px 13px;
  font-weight: 600;
}
.room .arrow-up:before,
.room .arrow-down:before {
  left: auto;
  right: 15px;
}
/*
.info-wrap .info-attr {
  position: relative;
}
.info-wrap .info {
  position: absolute;
  display: none;
  width: 260px;
  background: #eee;
  padding: 20px;
  z-index: 10;
  top: 0;
  right: 25px;
  height: 300px;
  overflow-y: scroll;
  box-shadow: 4px 4px 0 0 rgba(88, 88, 88, 0.6);
}
*/
.room .title a {
  color: #5b5b5b;
  font-weight: 600;
}
.info-attr > img:hover {
  cursor: pointer;
}
.btn-section-wrap.serv {
  margin: 35px 0;
}
.special-table {
  margin-bottom: 50px;
}
.special-table table {
  width: 100%;
}
.special-table table td {
  color: #5b5b5b;
  padding: 7px 15px;
/*  border: 1px solid #d8d8d8;*/
  vertical-align: middle;
  height: 61px;
}
.special-table table td {
  border: 1px solid #d8d8d8;
}

.special-table .title > span:first-child {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.special-table .arrow-up,
.special-table .arrow-down {
  margin: 0;
}
.special-table .new td {
  border: 1px solid #0374b9;
}
.special-table .pre-new td {
  border-bottom: 1px solid #0374b9;
}
.special-table .new td:first-child {
  position: relative;
}
.special-table .new td:first-child:before {
  position: absolute;
  content: 'NEW';
  top: 0;
  left: 0;
  font-size: 9px;
  background: #0374b9;
  display: inline-block;
  color: white;
  padding: 1px 3px;
}
.special-table .new td {
  border-right: 1px solid #d8d8d8;
}
.special-table .new td:last-child {
  border-right: 1px solid #0374b9;
}
.special-table td:not(:first-child) {
  width: 195px;
  text-align: center;
}
.special-table.new {
  background-color: #0374b9;
}
.special-table.new td {
  color: white;
}
.special-table.new .arrow-up,
.special-table.new .arrow-down {
  color: white;
}
.special-table.new .arrow-up:before {
    background: url(/static/img/arr-up-white.png);
}
.special-table.new .arrow-down:before {
    background: url(/static/img/arr-up-white.png);
}
.special-table .follow-pos {
  margin: 0;
}
.special-table.new .follow-pos {
  background: #5ea6d2; 
  color: #fff; 
}
.special-table.new .follow-pos:hover {
  background: #fff;
  color: #5ea6d2;
}
.special-table .info-wrap .info {
  color: #5b5b5b;
}
.title-wrap-spec {
  position: relative;
}
.title-wrap-spec .link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: none;
  width: 82px;
}
.title-wrap-spec .link:hover {
  text-decoration: none;
}
.title-wrap-spec .link span {
  text-decoration: underline;
}
.filter-live {
  display: flex;
  align-items: flex-end;
}
.filter-live .sort option {
  background-image: url('/static/img/arrow-up.png');

}

.filter-live .jq-selectbox__select {
  position: relative;
  border: 1px solid #d4d4d4;
  border-radius: 0;
  box-shadow: none;
  background: #fff;
}
.filter-live .jq-selectbox__trigger {
  border-left: 0;
}
.filter-live  .jq-selectbox li.selected {
  background-color: #e8e8e8;
  color: #5b5b5b;
}
.filter-live .jq-selectbox li {
  color: #5b5b5b;  
}
.filter-live .jq-selectbox li:hover {
    background-color: #89d8ff;
    color: #5e6365;
}
.filter-live  .jq-selectbox__dropdown li {
  position: relative;
}
.filter-live .jq-selectbox__trigger-arrow {
  border: 0;
  width: 14px;
  height: 8px;
  background: url('/static/img/arr-option.png');
}
.filter-live .jq-selectbox__select:hover {
  background: #fff;
}
.jq-selectbox__dropdown li:after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 15px;
  height: 14px;
/*  background: #000;*/
}


@media screen and (max-width: 1259px) {
  #subscribe_form input[type="text"] {
    width: 65%;
  }
  #subscribe_form button {
    width: 35%;
  }
  .accordion .info {
    padding: 25px;
  }
  .accordion .title_block {
    line-height: 24px;
  }

  .accordion .title_block span:before,
  .accordion .active_block .title_block span:before {
    right: -20px;
    top: auto;
    bottom: 10px;
  }
  .special-table .info-wrap .info {
    top: 0;
    left: 30px;
    right: auto;
  }
}
@media screen and (max-width: 991px) {
  .enemy .basic-button a {
    margin-bottom: 10px;
  }
  .room .info-wrap,
  .special-table .info-wrap {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .special-table {
    overflow-x: scroll;
  }
  .special-table table {
    width: 560px;
  }
  .title-wrap-spec .link {
    display: none;
  }
  .btn-cabinet-wrap {
    margin-top: 20px;
  }
  #subscribe_form {
    margin-top: 30px;
  }
  .btn-section-wrap {
    text-align: center;
  }
  .btn-section-wrap a {
    margin-bottom: 18px;
    font-size: 18px;
  }
  .accordion_item .info-wrap {
    padding-left: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
  .accordion .info {
    padding: 10px;
  }
  .companies-wrap .item {
    display: block;
    text-align: center;
  }
  .companies-wrap .title {
    margin: 30px 0;
    display: inline-block;
  }
  .enemy .basic-button a {
    margin-bottom: 10px;
  }
  .rooms .room {
    text-align: center;
    margin-bottom: 40px;
  }
}