<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" >
    <tr>
        <td><a href="#"><img style="display:block;" src="cid:news1" alt=""/></a></td>
    </tr>
    <tr>
        <td><a href="#"><img style="display:block;" src="cid:news2" alt=""/></a></td>
    </tr>
    <tr>
        <td><a href="#"><img style="display:block;" src="cid:news3" alt=""/></a></td>
    </tr>
    <tr>
        <td><a href="#"><img style="display:block;" src="cid:news4" alt=""/></a></td>
    </tr>
    <tr>
        <td><a href="#"><img style="display:block;" src="cid:news5" alt=""/></a></td>
    </tr>
    <tr>
        <td><a href="#"><img style="display:block;" src="cid:news6" alt=""/></a></td>
    </tr>
    <tr>
        <td><a href="#"><img style="display:block;" src="cid:news7" alt=""/></a></td>
    </tr>
    <tr>
        <td><a href="#"><img style="display:block;" src="cid:news8" alt=""/></a></td>
    </tr>
</table>
</body>
</html>