<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" >
    <tr>
        <td><a href="http://itfactory.pro"><img style="display:block;" src="cid:news1" alt=""/></a></td>
    </tr>
    <tr>
        <td><a href="http://itfactory.pro/websites-light.html"><img style="display:block;" src="cid:news2" alt=""/></a></td>
    </tr>
    <tr>
        <td><a href="http://itfactory.pro/websites-card.html"><img style="display:block;" src="cid:news3" alt=""/></a></td>
    </tr>
    <tr>
        <td><a href="http://itfactory.pro/websites-corporate.html"><img style="display:block;" src="cid:news4" alt=""/></a></td>
    </tr>
    <tr>
        <td><a href="http://itfactory.pro/websites-internet-shop.html"><img style="display:block;" src="cid:news5" alt=""/></a></td>
    </tr>
    <tr>
        <td><a href="http://itfactory.pro/websites-internet-portal.html"><img style="display:block;" src="cid:news6" alt=""/></a></td>
    </tr>
    <tr>
        <td><a href="http://itfactory.pro/company-contact.html"><img style="display:block;" src="cid:news7" alt=""/></a></td>
    </tr>
</table>
</body>
</html>