<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;" height='1093'>
    <tr>
        <td width='600' height='143'>
            <a href="http://itfactory.pro/" target="_blank">
                <img src="cid:news1" alt="" style="display: block;" />
            </a>
        </td>
    </tr>
    <tr>
        <td width='600' height='156'>
            <a href="http://itfactory.pro/portfolio-websites.html" target="_blank">
                <img src="cid:news2" alt="" style="display: block;" />
            </a>
        </td>
    </tr>
    <tr>
        <td width='600' height='156'>
            <a href="http://itfactory.pro/promotion-content.html" target="_blank">
                <img src="cid:news3" alt="" style="display: block;" />
            </a>
        </td>
    </tr>
    <tr>
        <td width='600' height='146'>
            <a href="http://itfactory.pro/" target="_blank">
                <img src="cid:news4" alt="" style="display: block;" />
            </a>
        </td>
    </tr>
    <tr>
        <td width='600' height='151'>
            <a href="http://itfactory.pro/company-contact.html" target="_blank">
                <img src="cid:news5" alt="" style="display: block;" />
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://itfactory.pro/websites-light.html" target="_blank">
                <img src="cid:news6" alt="" width='600' height='193' style="display: block;" />
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://itfactory.pro/" target="_blank">
                <img src="cid:news7" alt="" width='600' height='148' style="display: block;" />
            </a>
        </td>
    </tr>
</table>
</body>
</html>