@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'), url('/static/fonts/ptsans.woff2') format('woff2'), url('/static/fonts/ptsans.woff') format('woff'), url('/static/fonts/ptsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Italic'), local('PTSans-Italic'), url('/static/fonts/ptsansitalic.woff2') format('woff2'), url('/static/fonts/ptsansitalic.woff') format('woff'), url('/static/fonts/ptsansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'), local('PTSans-Bold'), url('/static/fonts/ptsansbold.woff2') format('woff2'), url('/static/fonts/ptsansbold.woff') format('woff'), url('/static/fonts/ptsansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('/static/fonts/ptsansbolditalic.woff2') format('woff2'), url('/static/fonts/ptsansbolditalic.woff') format('woff'), url('/static/fonts/ptsansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'rouble';
    src: url('/static/fonts/rouble-webfont.eot');
    src: url('/static/fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('/static/fonts/rouble-webfont.woff') format('woff'), url('/static/fonts/rouble-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lg';
    src: url("/static/fonts/lg.eot?n1z373");
    src: url("/static/fonts/lg.eot?#iefixn1z373") format("embedded-opentype"), url("/static/fonts/lg.woff?n1z373") format("woff"), url("/static/fonts/lg.ttf?n1z373") format("truetype"), url("../fonts/lg.svg?n1z373#lg") format("svg");
    font-weight: normal;
    font-style: normal;
}