.err-tooltip {
  display: block;
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
  padding: 6px 10px;
  border: 1px solid #C7C6C6;
  border-radius: 3px;
  background-color: white;
  z-index: 999;
  font-size: 13px;
  font-weight: normal;
}
.err-tooltip:before {
  content: '!';
  font-weight: 800;
  padding: 2px 7px;
  margin-right: 10px;
  background-color: #ff3535;
  color: white;
  border-radius: 3px;
}
.err-tooltip:after {
  content: '';
  display: block;
  position: absolute;
  top: -6px;
  left: 5px;
  border-bottom: 5px solid #C7C6C6;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
label .err-tooltip {
  top: 100%;
  margin-left: 0;
}
#preloader-ajax {
  height: 250px;
  width: 100%;
}
#preloader-ajax-center{
  width: 100%;
  height: 100%;
  position: relative;
  }
#preloader-ajax-center-absolute-one {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 300px;
  width: 50px;
  margin-top: -110px;
  margin-left: -47px; 
}
#preloader-ajax-center-absolute-two {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 300px;
  width: 50px;
  margin-top: -110px;
  margin-left: 27px;  
}
.preloader-ajax-object-one{
  width: 18px;
  height: 18px;
  background-color: #0374b9;
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  -ms-transform: rotate(45deg); 
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: object-one 1s infinite;
  animation: object-one 1s infinite;
}
.preloader-ajax-object-two{
  width: 18px;
  height: 18px;
  background-color: #0374b9;
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  -ms-transform: rotate(45deg); 
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: object-two 1s infinite;
  animation: object-two 1s infinite;
}
.preloader-ajax-object-one:nth-child(6){
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
.preloader-ajax-object-one:nth-child(5){
  -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
.preloader-ajax-object-one:nth-child(4){
  -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
.preloader-ajax-object-one:nth-child(3){
  -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
.preloader-ajax-object-one:nth-child(2){
  -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
    
.preloader-ajax-object-two:nth-child(9){
  -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }
.preloader-ajax-object-two:nth-child(8){
  -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
.preloader-ajax-object-two:nth-child(7){
  -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  } 
.preloader-ajax-object-two:nth-child(6){
  -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
.preloader-ajax-object-two:nth-child(5){
  -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
.preloader-ajax-object-two:nth-child(4){
  -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
.preloader-ajax-object-two:nth-child(3){
  -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
.preloader-ajax-object-two:nth-child(2){
  -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
                      

@-webkit-keyframes object-one{
50% {
    -ms-transform: translate(100px,0); 
    -webkit-transform: translate(100px,0);
    transform: translate(100px,0);
  }
}   
@keyframes object-one{
50% {
    -ms-transform: translate(100px,0); 
    -webkit-transform: translate(100px,0);
    transform: translate(100px,0);
  }
}


@-webkit-keyframes object-two{
50% {
    -ms-transform: translate(-100px,0); 
    -webkit-transform: translate(-100px,0);
    transform: translate(-100px,0);
  }
}   
@keyframes object-two{
50% {
    -ms-transform: translate(-100px,0); 
    -webkit-transform: translate(-100px,0);
    transform: translate(-100px,0);
  }
}
.success-message {
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
  font-weight: 600;
  color: #297937;
  line-height: 1;
}