.et-preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background-color: #0374b9;
}
#preloader-center {
	width: 100%;
	height: 100%;
	position: relative;
}
#preloader-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 50px;
	width: 300px;
	margin-top: -25px;
	margin-left: -150px;
}
.preloader-object {
	width: 18px;
	height: 18px;
	background-color: #FFF;
	float: left;
  margin-top: 15px;
	margin-right: 15px;
	border-radius: 50% 50% 50% 50%;
	-webkit-animation: object 1s infinite;
	animation: object 1s infinite;
}
.preloader-object:last-child {
	margin-right: 0px;
}
.preloader-object:nth-child(9) {
	-webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.preloader-object:nth-child(8) {
	-webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.preloader-object:nth-child(7) {
	-webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}	
.preloader-object:nth-child(6) {
	-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.preloader-object:nth-child(5) {
	-webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.preloader-object:nth-child(4) {
	-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.preloader-object:nth-child(3) {
	-webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.preloader-object:nth-child(2) {
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}								
@-webkit-keyframes object{
	50% { 
   	-webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);
	}
}		
@keyframes object{
	50% { 
   	-webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);
	}
}