@import 'fonts.css';

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}
p {
  margin: 0;
  line-height: 1.2;
}
a:focus,
button:focus,
input:focus {
  outline: none;
}
a {
  color: #337ab7;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrapper {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  height: 100vh;
  table-layout: fixed;
}
.content-inner {
  display: table-row;
  height: 100%;
}
.et-menu-collapse-btn {
  position: absolute;
  left: 15px;
  top: 30px;
  display: inline-block;
  cursor: pointer;
}
.et-menu-collapse-btn .et-collapse-line {
  position: relative;
  width: 19px;
  height: 2px;
  margin: 2px 0;
  background-color: #fff;
  transition: .3s;
}
.et-menu-collapse-btn:not(.et-collapsed) .et-collapse-line:nth-child(2) {
  opacity: 0;
}
.et-menu-collapse-btn .et-collapse-line:first-child {
  top: 0;
}
.et-menu-collapse-btn .et-collapse-line:last-child {
  bottom: 0;
}
.et-menu-collapse-btn:not(.et-collapsed) .et-collapse-line:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 4px;
}
.et-menu-collapse-btn:not(.et-collapsed) .et-collapse-line:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 4px;
}
.et-menu .et-link.selected {
  background-color: #e0dcdc;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 70px;
  overflow: hidden;
  z-index: 1002;
  background-color: #0374b9;
}
header .logo-wrap {
  margin-top: 8px;
  padding-left: 50px;
  text-align: center;
}
.et-container {
  overflow: hidden;
}
.et-container .menu-item,
.menu-vertical .item {
  position: relative;
  background: #fff no-repeat;
  background-size: cover;
  width: 50%;
  float: left;
  padding-bottom: 50%;
}
.menu-vertical.menu-item {
  padding-bottom: 63.66%;
}
.et-container .menu-item .title-wrap,
.procedures .item .title-wrap {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .69);
}
.et-container .menu-item .title,
.procedures .item .title {
  display: table;
  width: 100%;
  height: 41px;
}
.et-container .menu-item .title p,
.procedures .item .title p {
  display: table-cell;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  padding: 5px 14px;
  letter-spacing: .14em;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
footer {
  padding: 10px 0 27px;
  overflow: hidden;
}
footer > * {
  width: 50%;
  float: left;
}
footer .logo-wrap {
  text-align: center;
  margin-top: 7px;
}
.basic-button button,
.basic-button a {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 13px 29px;
  font-size: 17px;
  letter-spacing: .1em;
  border: none;
  border-radius: 0;
  background-color: #ff3535;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: all .2s ease-out;
}
.basic-button.small button,
.basic-button.small a {
  max-width: 100%;
  width: auto;
  padding: 7px 29px;
  font-size: 10px;
  letter-spacing: .18em;
}
* {
  box-sizing: border-box;
}
footer .phone-wrap {
  text-align: center;
}
footer .phone-wrap > a {
  font-size: 13px;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
footer .phone-wrap .basic-button {
  margin-top: 8px;
}
.site-overlay {
  display: none;
  background-color: rgba(0, 0, 0, .3);
}
.et-menu-open-left {
  overflow-x: hidden;
  overflow-y: hidden;
}
.et-menu-open-left .site-overlay, 
.et-menu-open-right .site-overlay,
.all-infra-menu-open-left .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9996;
}
.et-menu.et-menu-left {
  left: 0;
}
.et-menu-left {
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}
.et-menu-open-left .et-menu,
.et-menu-open-right .et-menu {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.content-wrapper {
  height: 100%;
}
.et-menu-open-left .content-wrapper {
  overflow: hidden;
} 
.et-menu {
  position: fixed;
  width: 250px;
  top: 0;
  bottom: 0;
  z-index: 9998;
  background: #191918;
  overflow: auto;
  visibility: hidden;
  background-color: #0374b9;
  box-shadow: inset -5px 0px 13px 0px rgba(0,0,0,0.24);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: -webkit-transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99), -webkit-transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.et-menu ul {
  padding-top: 44px;
  padding-bottom: 55px;
  background-color: #fff;
  text-align: center;
  box-shadow: inset -5px 0px 13px 0px rgba(0,0,0,0.24);
}
.et-menu .logo-wrap {
  margin: 18px 0 18px 25px;
  text-align: center;
}
.et-menu .et-link > a {
  color: inherit;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
.et-menu .et-link {
  padding-top: 10px;
  padding-bottom: 10px;
}
.h1-wrap {
  display: table;
  width: 100%;
  height: 100%;
}
h1 {
  display: table-cell;
  vertical-align: middle;
  height: 70px;
  padding: 8px 45px;
  font-size: 17px;
  font-style: italic;
  color: #fff;
  text-align: center;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}
.back-button img {
  position: absolute;
  top: 25px;
  margin: auto;
  right: 15px;
}
h2 {
  margin: 13px 0 3px 0;
  color: #0374b9;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .04em;
  font-weight: bold;
}
.h2-wrap {
  margin-top: 18px;
  margin-bottom: 15px;
}
.content-container {
  padding: 0 15px;
}
.content {
  padding: 1px 0;
}
.content ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
  overflow: hidden;
}
.content ul li {
  position: relative;
  margin-bottom: 7px;
  padding-left: 32px;
  font-style: italic;
}
.content ul li:before {
  content: '–';
  position: absolute;
  left: 0;
  top: 0;
}
.content p {
  margin-bottom: 11px;
}
.content img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.content-container.inverse {
  padding-bottom: 15px;
  background-color: #004b79;
}
.content-container.inverse .h2-wrap h2 {
  display: inline;
  color: #fff;
  border-bottom: 2px solid #ff3535;
}
.content-container.inverse .content p {
  color: #fff;
}
.content-container.inverse .content {
  color: #fff;
}
.select-building {
  position: relative;
}
.select-building .territory {
  width: 100%;
}
.select-building .select-building-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.select-building .select-building-inner .title {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 10px;
  background-color: #fff;
  color: #0374b9;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .04em;
  font-weight: bold;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2);
}
.select-building .select-building-inner .title:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 0;
  width: 0;
  border-right: 16px solid #fff;
  border-bottom: 32px solid transparent;
}
.select-building .select-building-inner .mark {
  position: absolute;
  margin-left: -11px;
  color: inherit;
  text-decoration: none;
  color: #fff;
}
.select-building .select-building-inner .mark1 {
  top: 12%;
  left: 11%;
}
.select-building .select-building-inner .mark2 {
  top: 26%;
  left: 39%;
}
.select-building .select-building-inner .mark3 {
  top: 47%;
  left: 47%;
}
.select-building .select-building-inner .mark4 {
  top: 71%;
  right: 10%;
}
.brain-clinic .brain {
  width: 100%;
}
.brain-clinic .content h2 {
  margin: 13px 0 10px 0;
  text-transform: none;
}
.content .info-wrap {
  margin-bottom: 3px;
}
.content .info-wrap span {
  color: #0374b9;
}
.content .line {
  width: 50%;
  height: 2px;
  margin-top: 7px;
  margin-bottom: 3px;
  background-color: #7fb8db;
}
.content a {
  color: #ff3535;
  text-decoration: underline;
}
.brain-clinic .content a,
.massages-page .content a {
  display: inline-block;
  margin-top: 9px;
  font-weight: bold;
  font-style: italic;
}
.massages-page .content a {
  margin-top: 0;
}
.rouble {
  font-family: 'rouble';
  font-weight: normal;
}
.select-building .select-building-inner .mark img {
  position: absolute;
  left: 0;
  right: 0;
}
.select-building .select-building-inner .mark .info {
  margin-left: 23px;
  margin-top: 18px;
  background-color: rgba(3, 116, 185, 0.7);
  padding: 3px 30px 3px 3px;
  border-radius: 5px;
}
.select-building .select-building-inner .mark.left .info {
  margin-right: 15px;
  margin-left: 0;
}
.select-building .select-building-inner .mark.left img {
  left: auto;
}
.select-building .select-building-inner .mark .name {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  white-space: nowrap;
  text-transform: uppercase;
}
.select-building .select-building-inner .mark .text {
  margin-left: 8px;
  font-size: 14px;
  text-decoration: none;
}
.all-infra,
.select-building-btn {
  position: absolute;
  min-width: 186px;
  text-align: center;
  bottom: 15px;
  left: 15px;
  padding: 5px 17px;
  font-size: 10px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .18em;
  font-weight: bold;
  border: 2px solid #0374b9;
  background-color: #fff;
  z-index: 999;
}
.select-building-btn {
  bottom: 53px;
}
.all-infra:hover,
.select-building-btn:hover {
  border: 2px solid red;
}
.mobiscroll.dw-inline.dw-webkit,
.dw.dwbg.dwi {
  width: 100%;
}
.dwwc,
.dwsc .dwwl,
.dwsc .dww {
  background: transparent;
}
.dwwo {
  display: none;
}
.dw-i {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #898989;
  text-shadow: none;
}
.dw-sel .dw-i {
  font-size: 18px;
  color: #3e3e3e;
}
.dwwol {
  display: none;
}
.dwww:after,
.add-human-form .age-wrap .dwwc:after  {
  content: '';
  display: block;
  position: absolute;
  left: 100%;
  width: 2px;
  top: 0;
  bottom: 0;
  background: radial-gradient(at center, #83bbdd, #fff);
  margin-left: 2px;
}
.add-human-form .age-wrap .dwwc:before {
  content: '';
  display: block;
  position: absolute;
  right: 100%;
  width: 2px;
  top: 0;
  bottom: 0;
  background: radial-gradient(at center, #83bbdd, #fff);
  margin-left: 2px;
}
.add-human-form .age-wrap > input {
  display: none;
}
.dwwc > table > tbody > tr > td:last-child .dwww:after {
  display: none;
}
.booking h2 {
  margin-top: 0;
  margin-bottom: 11px;
  font-size: 15px;
  color: #0374b9;
  letter-spacing: .04em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.ui-selectmenu-button {
  border: 2px solid #83bbdd;
  outline: none;
}
.ui-selectmenu-button span.ui-selectmenu-text {
  line-height: 1.2;
}
.ui-selectmenu-menu .ui-menu {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #0374b9;
  color: #fff;
  max-height: 150px;
}
.ui-menu .ui-menu-item {
  padding: 3px 1em 3px 1.1em;
}
.ui-menu .ui-menu-item.ui-state-focus,
.ui-menu .ui-menu-item:hover {
  text-decoration: underline;
}
.ui-menu .ui-menu-item .stars {
  position: absolute;
  right: 1em;
  top: 4px;
}
.select-number {
  margin-top: 10px;
  margin-bottom: 18px;
}
.ui-selectmenu-button span.ui-icon {
  display: block;
  height: 9px;
  width: 13px;
  background: url(/mobile_static/img/dropdown_icon.png) no-repeat center center;
  margin-top: -4px;
}
.booking .subtitle {
  text-align: center;
}
.select-date {
  margin-bottom: 15px;
}
.visitors-number .adult,
.visitors-number .children {
  width: 50%;
  float: left;
}
#adult-number_dummy,
#children-number_dummy {
  display: none;
}
.dwwr {
  min-width: auto;
  padding: 0;
}
.visitors-number .dwhl {
  padding: 0;
}
.visitors-number .dwsc .dww:after,
.visitors-number .dwsc .dww:before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  top: 0;
  bottom: 0;
  background: radial-gradient(at center, #83bbdd, #fff);
}
.visitors-number .dwsc .dww:after {
  left: 100%;
  margin-left: -2px;
}
.visitors-number .dwsc .dww:before {
  right: 100%;
  margin-right: -2px;
}
.booking-form h2 {
  margin-top: 10px;
}
.form-control {
  display: block;
  width: 100%;
  height: 33px;
  padding: 0 13px;
  color: #3e3e3e;
  border: 2px solid #83bbdd;
  font-size: 15px;
  font-family: inherit;
}
.form-group {
  margin-bottom: 15px;
}
textarea.form-control {
  height: 201px;
  resize: none;
  padding: 5px 13px;
}
.form-control:focus {
  outline: none;
  border: 2px solid #0374b9;
}
.booking .basic-button {
  margin-bottom: 15px;
}
.booking .basic-button {
  margin-top: 10px;
}
.visitors-number {
  overflow: hidden;
}
.massages-page .content h2 {
  font-size: 17px;
  text-transform: none;
  margin-bottom: 2px;
  letter-spacing: 0;
}
.massages-page .content .item {
  margin-bottom: 15px;
}
.personal-card-page .logo {
  width: 100%;
  margin-bottom: 20px;
}
.personal-card-page .form-control {
  border: 1px solid #6c6c6c;
  height: 47px;
  font-size: 19px;
}
.personal-card-page .form-group {
  margin-bottom: 25px;
}
.support-page .info {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  color: #000;
  font-size: 17px;
}
.support-page .phone-wrap {
  margin-top: 8px;
  text-align: center;
}
.support-page .phone-wrap .phone {
  color: #707070;
  font-size: 21px;
  font-style: italic;
  text-decoration: none;
}
.about-page {
  margin-bottom: 10px;
}
.about-page .item {
  display: block;
  position: relative;
}
.about-page .item .img-wrap {
  width: 63%;
}
.about-page .item .img-wrap .img {
  padding-bottom: 59.02443%;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-page .item .text-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 37%;
  height: 100%;
}
.about-page .item .text {
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.about-page .item:nth-child(2n) .text-wrap {
  background-color: #0374b9;
}
.about-page .item:nth-child(2n+1) .text-wrap {
  background-color: #ff3535;
}
.about-page .item .text p {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.14em;
  text-align: center;
}
.infrastructure-page .menu {
  text-align: center;
}
.infrastructure-page .menu .item {
  display: inline-block;
  margin: 15px 10px;
  padding-left: 24px;
  color: #0374b9;
  font-size: 12px;
  letter-spacing: .14em;
  text-decoration: underline;
  text-transform: uppercase;
}
.infrastructure-page .menu .item.selected {
  color: #ff3535;
}
.infrastructure-page .menu .item1 {
  background: url('/mobile_static/img/sun.png') no-repeat left center;
}
.infrastructure-page .menu .item2 {
  background: url('/mobile_static/img/winter.png') no-repeat left center;
}
.infrastructure-page .menu .item3 {
  background: url('/mobile_static/img/full_year.png') no-repeat left center;
}
.infrastructure-page .menu .item1.selected {
  background: url('/mobile_static/img/sun_active.png') no-repeat left center;
}
.infrastructure-page .menu .item2.selected {
  background: url('/mobile_static/img/winter_active.png') no-repeat left center;
}
.infrastructure-page .menu .item3.selected {
  background: url('/mobile_static/img/full_year_active.png') no-repeat left center;
}
.et-container .put-an-assessment {
  position: absolute;
  padding: 0 8px;
  right: 0;
  bottom: 100%;
  width: 125px;
  max-width: 100%;
  background-color: #0374b9;
}
.et-container .put-an-assessment img {
  margin: 0 1px;
}
.et-container .put-an-assessment span {
  position: relative;
  bottom: 1px;
  color: #fff;
  font-style: italic;
  font-size: 11px;
  text-decoration: underline;
}
.mark-overlay-wrap {
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgba(3, 116, 185, 0.85);
}
.mark-overlay {
  display: table;
  width: 100%;
  height: 100%;
}
.mark-overlay .marks-wrap {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.mark-overlay img {
  margin: 0 6px;
}
.mark-overlay .do-mark {
  color: white;
  padding: 0 10px;
  margin-bottom: 10px;
}
.mark-overlay .close-btn {
  width: 20px;
  margin: 0 auto 18px;
}
.mark-overlay .close-btn .line {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #fff;
}
.mark-overlay .close-btn .line.one {
  top: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.mark-overlay .close-btn .line.two {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.mark-overlay .done-btn {
  color: white;
  margin-top: 15px;
}
.infra-content-page {
  position: relative;
}
.infra-content-page .put-an-assessment {
  height: 23px;
  bottom: auto;
  left: 0;
  right: auto;
  top: 0;
  background-color: #ff3535;
}
.infra-content-page .put-an-assessment img {
  margin-top: 7px;
}
.infra-content-page .mark-overlay-wrap {
  bottom: auto;
  width: 100%;
  top: 0;
  left: auto;
  right: -100%;
  height: auto;
  padding: 15px;
}
.infra-content-page .content-container {
  margin-top: 35px;
}
.infra-content-page .owl-carousel {
  margin-top: 15px;
  margin-bottom: 10px;
}
.infra-content-page .owl-carousel .item a {
  display: inline-block;
  margin-top: 6px;
  padding: 0 15px;
  font-size: 15px;
  font-weight: bold;
  color: #0374b9;
  font-style: italic;
  text-decoration: none;
}
.owl-carousel .owl-nav > div img:last-child {
  display: none;
}
.owl-carousel .owl-nav > div:hover img:last-child {
  display: block;
}
.owl-carousel .owl-nav > div:hover img:first-child {
  display: none;
}
.owl-carousel .owl-nav > div img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.owl-carousel .owl-nav .owl-next img {
  right: 15px;
}
.owl-carousel .owl-nav .owl-prev img {
  left: 15px;
}
.all-infra-menu {
  position: fixed;
  width: 268px;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9997;
  overflow: auto;
  visibility: hidden;
  background-color: #fff;
  box-shadow: inset -5px 0px 13px 0px rgba(0,0,0,0.24);
  -webkit-transform: translate(-268px, 0);
  transform: translate(-268px, 0);
  -webkit-transform: translate3d(-268px, 0, 0);
  transform: translate3d(-268px, 0, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: -webkit-transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99), -webkit-transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99), 
  -webkit-transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.all-infra-menu-open-left .all-infra-menu {
  transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.all-infra-menu {
  padding: 15px 0;
}
.all-infra-menu ul li {
  margin: 5px 0;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .14em;
}
.all-infra-menu ul li a {
  display: inline-block;
  padding: 5px 15px 5px 55px;
  background-repeat: no-repeat;
  background-position: 15px center;
  text-decoration: none;
  color: inherit;
  background-size: auto 24px;
}
.infra-map {
  width: 100%;
  position: relative;
  overflow: scroll;
  text-align: center;
}
.infra-map .map-img {
  display: block;
  height: 100%;
}
.infra-map-wrapper {
  position: relative;
  width: 100%;
}
.infra-map-wrapper .zoom {
  position: absolute;
  top: 10px;
  right: 10px;
}
.infra-map-wrapper .zoom a {
  display: block;
  height: 20px;
  width: 20px;
  text-decoration: none;
  font-size: 15px;
  color: rgba(3, 116, 185, 1);
  background-color: #fff;
  text-align: center;
  margin-bottom: 2px;
}
.infra-map-wrapper .img-icons-wrap {
  display: inline-block;
  position: relative;
  height: 100%;
  vertical-align: top;
}
.infra-map-wrapper .img-icons-wrap .item {
  position: absolute;
  width: 4%;
  height: 10%;
}
.infra-map-wrapper .img-icons-wrap .item .small-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.infra-map-wrapper .img-icons-wrap .item .small-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 23px;
  max-height: 23px;
  margin: auto;
  padding: 2px;
  border-radius: 8px;
  border: 2px solid #0374b9;
  background-color: #fff;
}
.infra-map-wrapper .img-icons-wrap .item .big-icon {
  position: absolute;
  left: 0;
  bottom: 45%;
  width: 100%;
  max-width: 45px;
  right: 0;
  margin: auto;
}
.infra-map-wrapper .img-icons-wrap .item .big-icon,
.infra-map-wrapper .img-icons-wrap .item .name {
  display: none;
}
.infra-map-wrapper .img-icons-wrap .item.parking1 {
  top: 43%;
  left: 40%;
}
.infra-map-wrapper .img-icons-wrap .item.parking2 {
  top: 16%;
  left: 84%;
}
.infra-map-wrapper .img-icons-wrap .item.housing1 {
  top: 11%;
  left: 49%;
}
.infra-map-wrapper .img-icons-wrap .item.housing2 {
  top: 19%;
  left: 55%;
}
.infra-map-wrapper .img-icons-wrap .item.housing4 {
  top: 68%;
  left: 89%;
}
.infra-map-wrapper .img-icons-wrap .item.cott {
  top: 43%;
  left: 68%;
}
.infra-map-wrapper .img-icons-wrap .item.phys {
  top: 23%;
  left: 62.2%;
}
.infra-map-wrapper .img-icons-wrap .item.admin {
  top: 27%;
  left: 76.2%;
}
.infra-map-wrapper .img-icons-wrap .item.sauna {
  top: 10%;
  left: 61.2%;
}
.infra-map-wrapper .img-icons-wrap .item.hammam {
  top: 11%;
  left: 64.2%;
}
.infra-map-wrapper .img-icons-wrap .item.bank {
  top: 33%;
  left: 74.2%;
}
.infra-map-wrapper .img-icons-wrap .item.music-rest {
  top: 68%;
  left: 93.2%;
}
.infra-map-wrapper .img-icons-wrap .item.beach {
  top: 31%;
  left: 17.2%;
}
.infra-map-wrapper .img-icons-wrap .item.recliner {
  top: 39%;
  left: 29.2%;
}
.infra-map-wrapper .img-icons-wrap .item .name {
  position: absolute;
  left: 100%;
  top: 0;
  padding: 4px;
  background-color: rgba(255, 255, 255, .9);
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  border-radius: 3px;
}
.infra-map-wrapper .img-icons-wrap .item .name.left {
  left: auto;
  right: 100%;
}
.infra-map-wrapper .img-icons-wrap .item .add-info {
  display: none;
}
.infra-map-wrapper > .add-info {
  position: absolute;
  color: #fff;
  font-size: 17px;
  font-style: italic;
  width: 100%;
  text-align: center;
}
.infra-map-wrapper > .add-info:after  {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 10px;
  height: 7px;
  margin: auto;
  background: url(/mobile_static/img/arrow_map.png) no-repeat;
}
.infra-map-wrapper > .add-info.bottom {
  bottom: 95px;
}
.infra-map-wrapper > .add-info.bottom:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.infra-map-wrapper > .add-info.top {
  top: 20px;
}
.infra-map-wrapper > .add-info.top:after {
  bottom: 100%;
}
.history-page {
  padding-top: 65px;
}
.history-page .item {
  position: relative;
  margin-bottom: 13px;
}
.history-page .year {
  display: table;
  position: absolute;
  width: 62px;
  height: 57px;
  left: 0;
  right: 0;
  margin: auto;
  top: -35px;
  background: url(/mobile_static/img/sheet.png) no-repeat;
}
.history-page .year p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}
.history-page .item {
  padding-top: 22px;
  padding-bottom: 27px;
}
.history-page .item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  border-bottom: 6px solid #18a165;
  border-top: 6px solid #18a165;
  border-radius: 20px;
}
.history-page .item:nth-child(odd) {
  padding-left: 20px;
}
.history-page .item:nth-child(odd):before {
  left: 0;
  border-left: 6px solid #18a165;
}
.history-page .item:nth-child(even) {
  padding-right: 20px;
  text-align: right;
}
.history-page .item:nth-child(even):before {
  right: 0;
  border-right: 6px solid #18a165;
}
.history-page .item:nth-child(odd):last-child:before  {
  border-bottom-right-radius: 0;
}
.history-page .item:nth-child(even):last-child:before  {
  border-bottom-left-radius: 0;
}
/*.interview-page .ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}*/
/*input[type="radio"] {
  display: none;
}
input[type="checkbox"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 2px;
  margin-bottom: 0;
  background-color: #fff;
  border: 1px solid #bebaba;
  border-radius: 100%;
  vertical-align: middle;
  cursor: pointer;
}
input[type="checkbox"] + label {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #bebaba;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}
input[type="checkbox"]:checked + label {
  background: url('/mobile_static/img/check_mark.png') center center no-repeat;
}
input[type="radio"]:checked + label:before {
  content: '';
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #0374b9;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
input[type="radio"] + label + label,
input[type="checkbox"] + label + label {
  display: block;
  padding-left: 30px;
  margin-bottom: 0;
  margin-top: 4px;
  margin-left: 6px;
  vertical-align: middle;
  font-size: 15px;
  font-weight: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
  cursor: pointer;
}*/
.form-group {
  position: relative;
}
/*.interview-page {
  margin-top: 0 !important;
  padding-top: 79px;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: auto;
}*/
textarea.form-control {
  height: 69px;
  box-shadow: none;
}
textarea.form-control:focus {
  border: 2px solid #0374b9;
}
.cancel-booking-modal form .info {
  margin: 20px -15px;
  padding: 20px 15px;
  background: #0374b9;
  text-align: center;
  color: #fff;
}
.cancel-booking-modal form .basic-button {
  margin-bottom: 20px;
}
.cancel-booking-modal form .custom-option-textarea {
  display: none;
}
.basic-button a.add-human {
  padding-right: 50px;
  background: #0374b9 url('/mobile_static/img/add_human.png') right 15px center no-repeat;
}
.add-human-form h2 span {
  display: block;
  color: #000;
  font-size: 17px;
  text-transform: none;
  font-weight: normal;
}
.add-human-form .age-wrap,
.add-human-form .select-number-wrap {
  margin-bottom: 25px;
}
.add-human-form .select-number-days .ui-button-text-only.ui-state-active .ui-button-text {
  border: 3px solid #0374b9;
  background-color: #0374b9;
  color: #fff;
}
.add-human-form .select-number-days .ui-button-text-only .ui-button-text {
  font-size: 23px;
  font-weight: bold;
  padding: 6px 14px;
  border: 3px solid #cfcfcf;
  color: #4f4f4f;
}
.add-human-form .select-during-wrap {
  margin-bottom: 40px;
}
.add-human-form .select-number-days {
  text-align: center;
}
.add-human-form .select-number-days > label.ui-button {
  margin-left: 8px;
  margin-right: 8px;
}
.add-human-form .buttons {
  clear: both;
  padding-bottom: 30px;
}
.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
  clear: both;
}
.custom-radio .square {
  display: inline-block;
  position: absolute;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 2px solid #0374b9;
  margin-right: 4px;
  vertical-align: middle;
  border-radius: 100%;
}
.custom-radio .title {
  display: inline-block;
  padding-left: 25px;
}
.custom-radio .ui-button-text-only .ui-button-text {
  padding: 0;
  text-align: left;
}
.custom-radio .ui-state-active .square:after {
  content: '';
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #0374b9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 100%;
}
.cancel-booking-modal {
  padding: 15px;
}
.close-cancel-booking-modal {
  float: right;
}
.cancel-booking-modal h2 {
  margin-bottom: 15px;
  margin-top: 0;
  text-align: center;
}
.ol-map {
  width: 100%;
}
.ol-zoom {
  right: .5em;
  left: auto;
}
.ol-attribution.ol-logo-only {
  display: none;
}
.leaflet-control-attribution.leaflet-control {
  display: none;
}
.booking .show-number-guests .item {
  padding-left: 78px;
  background-repeat: no-repeat;
}
.booking .show-number-guests .item.adult {
  background-image: url(/mobile_static/img/adult.png);
}
.booking .show-number-guests .item.child {
  background-image: url(/mobile_static/img/child12.png);
}
.booking .show-number-guests .item.small-child {
  background-image: url(/mobile_static/img/child5.png);
}
.booking .show-number-guests .item .title {
  margin-top: 7px;
  text-transform: uppercase;
  color: #0374b9;
  letter-spacing: .04em;
  font-weight: bold;
}
.booking .show-number-guests .programm,
.booking .show-number-guests .during {
  font-weight: bold;
}
.booking .show-number-guests .programm span,
.booking .show-number-guests .during span {
  font-weight: normal;
}
.booking .show-number-guests .delete-button {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 18px;
  padding: 4px 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #0374b9;
  letter-spacing: .04em;
  border: 2px solid #d6d6d6;
}
.page-sheet {
  padding-top: 20px;
}
.booking .booking-item {
  
}
.all-infra-menu ul ul {
  list-style-type: none;
  padding: 0 0 0 56px;
  margin: -4px 0 0 0;
  overflow: hidden;
}
.all-infra-menu ul ul li {
  position: relative;
  margin-bottom: 3px;
  padding-left: 20px;
  font-style: italic;
}
.all-infra-menu ul ul li:before {
  content: '–';
  position: absolute;
  left: 0;
  top: -1px;
}
.news-page {
  padding-top: 20px;
}
.news-page .news-wrap {
  margin: 0 -8px;
  padding-bottom: 50px;
}
.news-page .item-wrap {
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.news-page .item-wrap .item {
  display: block;
  position: relative;
  padding: 16px;
  border-top: 3px solid #0374b9;
  border-radius: 1px;
  overflow: hidden;
  text-decoration: none;
  box-shadow: -1px 0 2px 0 rgba(0,0,0,.12) , 1px 0 2px 0 rgba(0,0,0,.12) , 0 1px 1px 0 rgba(0,0,0,.24);
  -webkit-transition: all .15s cubic-bezier(.33,.66,.66,1);
  transition: all .15s cubic-bezier(.33,.66,.66,1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.news-page .item-wrap .item:hover {
  text-decoration: none;
  box-shadow: -2px 0 2px 0 rgba(0,0,0,.16) , 2px 0 2px 0 rgba(0,0,0,.16) , 0 2px 2px 0 rgba(0,0,0,.23);
  -webkit-transform: translate3d(0,-3px,0);
  transform: translate3d(0,-3px,0);
}
.news-page .item-wrap .item:hover .desc {
  opacity: .8;
}
.news-page .item-wrap .item:focus {
  text-decoration: none;
}
.news-page .item-wrap .item .image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.news-page .item-wrap .item h2 {
  margin-bottom: 3px;
  font-size: 20px;
  color: #0374b9;
  text-transform: none;
  line-height: 1;
}
.news-page .item-wrap .item .date {
  font-size: 15px;
  color: #000;
  margin-bottom: 15px;
  font-style: italic;
}
.news-page .item-wrap .item .desc {
  color: #000;
  margin-bottom: 10px;
}
.news-page .item-wrap .item .details {
  float: right;
  margin-bottom: 10px;
  color: #337ab7;
  font-size: 14px;
  letter-spacing: .04em;
  font-weight: bold;
  text-transform: uppercase;
}
.news-page .item-wrap .item .details:hover {
  text-decoration: underline;
}
.news-page .item-wrap .item .share-img {
  position: absolute;
  left: 0;
  top: -12px;
  width: 120px;
}
.page-news-item .date {
  margin-bottom: 5px;
  font-style: italic;
}
.page-news-item .news-image {
  display: block;
  max-width: 100%;
  margin: 0 auto 10px;
}
.places h2,
.places p,
.way-to-get-wrap h2,
.way-to-get-wrap p {
  padding-left: 35px;
}
.places h2 {
  margin: 15px 0 0;
  font-size: 15px;
  letter-spacing: .04em;
}
.places a {
  text-decoration: none;
}
.places .address {
  background: url(/static/img/addr_icon.png) left 1px no-repeat;
}
.places .phones {
  background: url(/static/img/phone_icon.png) left 1px no-repeat;
}
.places .phones a {
  white-space: nowrap;
}
.places .email {
  background: url(/static/img/email_icon.png) left 1px no-repeat;
}
.places .item {
  margin-bottom: 35px;
}
.places .basic-button {
  margin-bottom: 20px;
}
.way-to-get-wrap {
  padding: 30px 15px;
  background-color: #f1f1f1;
}
.way-to-get-wrap h2 {
  margin: 0 0 15px 0;
  color: #ed4545;
}
.way-to-get > p {
  padding-bottom: 15px;
}
.way-to-get .type {
  font-weight: bold;
  color: #0374b9;
}
.way-to-get .plane {
  background: url(/mobile_static/img/plane_icon.png) left 1px no-repeat;
}
.way-to-get .train {
  background: url(/mobile_static/img/train_icon.png) 4px 1px no-repeat;
}
.way-to-get .bus {
  background: url(/mobile_static/img/bus_icon.png) left 1px no-repeat;
}
.way-to-get .car {
  background: url(/mobile_static/img/car_icon.png) left 1px no-repeat;
}
.way-to-get .taxi {
  background: url(/mobile_static/img/taxi_icon.png) left 1px no-repeat;
}
.way-to-get .walking {
  background: url(/mobile_static/img/person_contacts_icon.png) left 1px no-repeat;
}
#map {
  height: 600px;
}
.way-to-get .selected .type {
  text-decoration: underline;
}
table {
  width: 100%;
  border: 1px solid #bfbfbf;
}
table th,
table td {
  border: 1px solid #bfbfbf;
}
table th {
  padding: 10px 10px;
  border: 1px solid #0167a5;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  background-color: #0167a5;
  color: #fff;
}
table td {
  padding: 4px 10px;
  font-size: 15px;
}
.content table {
  margin: 15px 0 20px 0;
  width: 100% !important;
  border-collapse: collapse;
}
.content table th, 
.content table td {
  border: 1px solid #bfbfbf !important;
}
.content table tbody tr:first-child td {
  padding: 10px 10px;
  border: 1px solid #0167a5 !important;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  background-color: #0167a5;
  color: #fff;
}
.content table tbody tr:first-child td font {
  font-family: 'PT Sans', sans-serif !important;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
.content table tbody tr,
.content table tbody td {
  width: auto !important;
  height: auto !important;
}
#lightgallery-in-content > a .gallery-poster {
  display: none;
  background-color: rgba(0,0,0,.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color .15s ease 0s;
  -o-transition: background-color .15s ease 0s;
  transition: background-color .15s ease 0s;
}
#lightgallery-in-content > a .gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity .3s ease 0s;
  -o-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s;
}
#lightgallery-in-content > a:hover .gallery-poster {
  background-color: rgba(0, 173, 255, 0.5)
}
#lightgallery-in-content > a:hover .gallery-poster > img {
  opacity: 1;
}
.review-form-wrap {
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 15px;
  text-align: center;
  border-top: 3px solid #0374b9;
  border-bottom: 3px solid #0374b9;
  background-color: aliceblue;
}
.review-form-wrap h2 {
  font-size: 23px;
  margin-bottom: 35px;
}
textarea.form-control {
  height: 175px;
}
.review-form-wrap .basic-button {
  margin-bottom: 40px;
  margin-top: 20px;
}
.reviews-wrap {
  padding-top: 20px;
}
.reviews-wrap .item {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding: 16px;
  border-top: 3px solid #0374b9;
  border-radius: 1px;
  box-shadow: -1px 0 2px 0 rgba(0,0,0,.12) , 1px 0 2px 0 rgba(0,0,0,.12) , 0 1px 1px 0 rgba(0,0,0,.24);
  transition: all .15s cubic-bezier(.33,.66,.66,1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform: translateZ(0);
}
.reviews-wrap .item .name {
  background: url(/static/img/person_icon.png) left top no-repeat;
}
.reviews-wrap .item .date {
  background: url(/static/img/calendar.png) left top no-repeat;
}
.reviews-wrap .item .name,
.reviews-wrap .item .date {
  display: inline-block;
  margin-right: 20px;
  padding-left: 25px;
  padding-top: 2px;
  font-style: italic;
  font-weight: bold;
  background-size: auto 19px;
}
.reviews-wrap .item .text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
}
.review-form-wrap #preloader-ajax {
  margin-bottom: 50px;
}
.mobiscroll table {
  width: auto;
  border: none;
}
.mobiscroll table td {
  border: none;
  padding: 0;
}
.leaflet-map .content ul li {
  margin-bottom: 2px;
  padding-left: 15px;
}
.leaflet-map .content {
  max-height: 100px;
  overflow-y: auto;
}